# Download stock price data to be used in the project for stock price prediction

In [1]:
import yfinance as yf

In [10]:
# Download pricing data for multiple stocks/tickers
# approach 1: put the tickers in a list and browse through the list and keep downloading data one ticker at a time
# approach 2: put the tickers in a list, and check if a library method is there to download for multiple tickers at once

download_period = "2y";
download_interval = "1d";

In [11]:
# Stock Tickers to download data for

In [12]:
tickers = [
'WMT',
'XOM',
'AAPL',
'UNH',
'MCK',
'CVS',
'AMZN',
'T',
'GM',
'F',
'ABC',
'CVX',
'CAH',
'COST',
'VZ',
'KR',
'GE',
'WBA',
'JPM',
'GOOGL',
'HD',
'BAC',
'WFC',
'BA',
'PSX',
'ANTM',
'MSFT',
'UNP',
'PCAR',
'DWDP']

In [13]:
tickers[:5]

['WMT', 'XOM', 'AAPL', 'UNH', 'MCK']

# Collect stock closing prices daily
# Download historical data using the daily time frame for the start and end date

In [14]:
start = "2017-01-01";
end = "2019-12-31";
download_interval = "1d";
ticker_list = tickers;

# Download historical data using the daily time frame for the start and end date
data = yf.download(ticker_list, interval = download_interval, start = start, end = end )
closing_prices_daily = data['Close']
closing_prices_daily

[*********************100%***********************]  30 of 30 completed

2 Failed downloads:
- DWDP: No timezone found, symbol may be delisted
- ANTM: No timezone found, symbol may be delisted

,AAPL,ABC,AMZN,ANTM,BA,BAC,CAH,COST,CVS,CVX,...,PCAR,PSX,T,UNH,UNP,VZ,WBA,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,29.037500,82.610001,37.683498,NaN,156.970001,22.530001,74.480003,159.729996,80.349998,117.849998,...,43.546665,86.790001,32.492447,161.449997,102.519997,54.580002,82.959999,56.000000,68.660004,90.889999
2017-01-04,29.004999,84.660004,37.859001,NaN,158.619995,22.950001,75.629997,159.759995,79.750000,117.820000,...,44.146667,87.260002,32.303623,161.910004,103.139999,54.520000,82.980003,56.049999,69.059998,89.889999
2017-01-05,29.152500,83.680000,39.022499,NaN,158.710007,22.680000,74.500000,162.910004,81.419998,117.309998,...,43.426666,86.739998,32.212990,162.179993,102.129997,54.639999,83.029999,55.180000,69.209999,88.550003
2017-01-06,29.477501,84.800003,39.799500,NaN,159.100006,22.680000,75.330002,162.830002,82.199997,116.839996,...,43.919998,85.400002,31.208460,162.410004,103.190002,53.259998,83.099998,55.040001,68.260002,88.500000
2017-01-09,29.747499,85.480003,39.846001,NaN,158.320007,22.549999,74.760002,160.970001,81.699997,115.839996,...,43.380001,84.019997,30.815710,161.949997,102.419998,52.680000,82.550003,54.240002,68.709999,87.040001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-23,71.000000,85.599998,89.650002,NaN,337.549988,35.169998,51.130001,293.309998,74.379997,120.330002,...,53.033333,112.669998,29.509064,295.089996,179.419998,61.400002,58.570000,53.810001,119.029999,70.290001
2019-12-24,71.067497,85.419998,89.460503,NaN,333.000000,35.220001,51.290001,294.230011,74.510002,120.339996,...,52.993332,113.199997,29.425982,294.540009,179.889999,61.279999,58.349998,53.820000,119.510002,70.019997
2019-12-26,72.477501,85.050003,93.438499,NaN,329.920013,35.520000,51.169998,295.730011,74.480003,120.599998,...,53.006668,112.059998,29.577040,295.649994,180.809998,61.290001,58.900002,54.150002,119.519997,70.129997
2019-12-27,72.449997,84.910004,93.489998,NaN,330.140015,35.349998,51.500000,294.109985,74.400002,120.300003,...,52.939999,110.599998,29.637463,295.970001,181.410004,61.529999,59.020000,53.919998,119.589996,69.889999
2019-12-30,72.879997,83.639999,92.344498,NaN,326.399994,35.150002,50.770000,295.140015,73.699997,119.849998,...,52.646667,110.370003,29.486404,293.850006,180.149994,61.209999,58.910000,53.599998,119.400002,69.480003

In [21]:
# closing_prices_daily_ticker_top = closing_prices_daily.T
closing_prices_daily.to_csv('./data/per-day-fortune-30-company-stock-price-data.csv');

In [8]:
# Collect stock closing prices per minute

In [22]:
download_interval = "1m";
download_period = "1w";
ticker_list = tickers;
data = yf.download(ticker_list, interval = download_interval, period = download_period)
closing_prices_minutely = data['Close']
closing_prices_minutely

[*********************100%***********************]  30 of 30 completed

2 Failed downloads:
- DWDP: No data found, symbol may be delisted
- ANTM: No data found, symbol may be delisted

,AAPL,ABC,AMZN,ANTM,BA,BAC,CAH,COST,CVS,CVX,...,PCAR,PSX,T,UNH,UNP,VZ,WBA,WFC,WMT,XOM
2023-03-31 09:30:00-04:00,162.520004,159.991196,102.099998,NaN,211.972702,28.620001,75.190002,495.255005,74.739998,162.500000,...,72.370003,100.010002,19.129999,470.920013,199.250000,38.750000,34.720001,37.790001,147.330002,109.440002
2023-03-31 09:31:00-04:00,162.410004,160.860001,102.349998,NaN,211.850006,28.584999,75.489998,493.989990,74.690002,162.539993,...,72.180000,99.639999,19.110001,471.709991,199.649994,38.730000,34.750000,37.830002,147.410004,109.589996
2023-03-31 09:32:00-04:00,162.490005,NaN,102.419998,NaN,212.529999,28.585300,75.660004,494.019989,74.580002,163.000000,...,72.330002,99.830002,19.110001,471.630005,199.309998,38.720001,34.735001,37.730000,147.419998,109.940002
2023-03-31 09:33:00-04:00,162.690002,NaN,102.520103,NaN,212.750000,28.584999,75.570000,494.279999,74.425003,162.910004,...,72.260002,99.614998,19.070000,471.929993,199.139999,38.669998,34.660000,37.880001,147.440002,110.159897
2023-03-31 09:34:00-04:00,163.020004,NaN,102.669998,NaN,212.809998,28.555000,75.629997,495.315002,74.400002,162.768204,...,72.269997,99.400002,19.070000,471.910004,199.070007,38.699902,34.689999,37.737301,147.595001,109.959999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-31 15:55:00-04:00,164.919998,159.759995,103.239998,NaN,212.279999,28.565001,75.485001,496.799988,74.129997,163.289993,...,73.165001,101.379997,19.225000,472.350006,201.145004,38.895000,34.555000,37.395000,147.220001,109.599998
2023-03-31 15:56:00-04:00,164.934998,159.770004,103.315002,NaN,212.310196,28.570000,75.470001,496.890015,74.175003,163.220001,...,73.184998,101.400002,19.209999,472.420013,201.184998,38.884998,34.570000,37.389999,147.324997,109.570000
2023-03-31 15:57:00-04:00,164.889999,159.850006,103.342400,NaN,212.259995,28.570000,75.489998,497.269989,74.190002,163.220001,...,73.195000,101.430000,19.219999,472.260010,201.190002,38.889999,34.575001,37.400002,147.345001,109.620003
2023-03-31 15:58:00-04:00,164.940002,159.990005,103.408798,NaN,212.526596,28.584999,75.464996,497.480011,74.260002,163.250000,...,73.260002,101.389999,19.230000,472.679993,201.220001,38.919998,34.584999,37.399899,147.360001,109.675003
2023-03-31 15:59:00-04:00,164.839996,160.000000,103.290001,NaN,212.389999,28.570000,75.470001,497.019989,74.309998,163.110001,...,73.190002,101.360001,19.225000,472.459991,201.160004,38.880001,34.580002,37.349998,147.410004,109.599998

In [23]:
closing_prices_minutely.to_csv('./data/per-minute-fortune-30-company-stock-price-data.csv');

# References:
    
1. https://vegibit.com/python-yfinance-tutorial/    
2. https://algotrading101.com/learn/yfinance-guide/