# Import Libraries

In [1]:
import os
import glob
import pandas as pd

# Find all the file names to merge

In [2]:
data_folder = './data'
data_folder = './archive/stock_market_data/nasdaq/csv'

os.chdir(data_folder)

In [3]:
stocks_in_graph_data = ['AAL',
  'AAPL',
  'ALGN',
  'AMD',
  'AMGN',
  'AMZN',
  'ATVI',
  'BIDU',
  'BIIB',
  'CAC',
  'CAR',
  'CBOE',
  'CCRN',
  'CDNS',
  'CHKP',
  'CMCSA',
  'COST',
  'CYH',
  'EBAY',
  'EQIX',
  'EXAS',
  'FFIV',
  'FREE',
  'FUND',
  'III',
  'INTC',
  'IRBT',
  'ISRG',
  'LRCX',
  'MITK',
  'MKSI',
  'MPAA',
  'MSFT',
  'NFLX',
  'NVDA',
  'NWBI',
  'OIS',
  'OKE',
  'PNFP',
  'REGN',
  'ROST',
  'RRGB',
  'RVNC',
  'SBUX',
  'SEAC',
  'SGEN',
  'SIMO',
  'SWKS',
  'TXN',
  'VRTX',
  'WDC']

In [7]:
# Not Used fileTypesToMerge; may use for daily close price or price in every minute data

fileTypesToMerge = '';
extension = 'csv';
all_filenames = [i for i in glob.glob('*' + fileTypesToMerge + '*.{}'.format(extension))]
all_filenames_no_extension = [i[:-4] for i in glob.glob('*' + fileTypesToMerge + '*.{}'.format(extension))]
all_filenames[:10]

# take a subset of the data for experiment
list_of_files_to_process = list(set(all_filenames_no_extension).intersection(set(stocks_in_graph_data))) #[:10]
list_of_files_to_process[:100]

['FFIV',
 'MSFT',
 'OKE',
 'SEAC',
 'CMCSA',
 'NWBI',
 'AAPL',
 'REGN',
 'ALGN',
 'CYH',
 'ISRG',
 'MPAA',
 'AMGN',
 'NVDA',
 'SGEN',
 'RRGB',
 'INTC',
 'MKSI',
 'SIMO',
 'NFLX',
 'EXAS',
 'AMD',
 'EQIX',
 'RVNC',
 'AMZN',
 'CBOE',
 'CHKP',
 'OIS',
 'LRCX',
 'AAL',
 'ATVI',
 'FREE',
 'WDC',
 'CDNS',
 'SBUX',
 'MITK',
 'CAR',
 'ROST',
 'FUND',
 'CCRN',
 'TXN',
 'CAC',
 'VRTX',
 'COST',
 'SWKS',
 'EBAY',
 'III',
 'IRBT',
 'PNFP',
 'BIDU',
 'BIIB']

In [4]:
len(list_of_files_to_process)

1564

# Insert Stock Ticker. Save data in new files

In [8]:
from os.path import exists
row_total_count = 0
# modified = 'modified/'
modified = 'modified/'
for f in list_of_files_to_process:
    f = f + ".csv";
    print(f);
    
    file_exists = exists(modified + f)
    if file_exists:
        # print('file exists');
        # break;
        continue;

    try:    
        df_s = pd.read_csv(f)
        df_s.insert(0, "Ticker", [f[:-4]] * df_s.shape[0], allow_duplicates = True)
        df_s.to_csv(modified + f);
        row_total_count += df_s.shape[0]
    except:
        continue;
    finally:
        continue;

row_total_count

FFIV.csv
MSFT.csv
OKE.csv
SEAC.csv
CMCSA.csv
NWBI.csv
AAPL.csv
REGN.csv
ALGN.csv
CYH.csv
ISRG.csv
MPAA.csv
AMGN.csv
NVDA.csv
SGEN.csv
RRGB.csv
INTC.csv
MKSI.csv
SIMO.csv
NFLX.csv
EXAS.csv
AMD.csv
EQIX.csv
RVNC.csv
AMZN.csv
CBOE.csv
CHKP.csv
OIS.csv
LRCX.csv
AAL.csv
ATVI.csv
FREE.csv
WDC.csv
CDNS.csv
SBUX.csv
MITK.csv
CAR.csv
ROST.csv
FUND.csv
CCRN.csv
TXN.csv
CAC.csv
VRTX.csv
COST.csv
SWKS.csv
EBAY.csv
III.csv
IRBT.csv
PNFP.csv
BIDU.csv
BIIB.csv

0

# Combine all files in the list into one file

In [9]:
# Combine

combined_csv = pd.concat([pd.read_csv(modified + f + ".csv") for f in list_of_files_to_process]);

# export to csv
#combined_csv.to_csv( "../combined_data/stock-price-" + fileTypesToMerge + "-all-merged.csv", index = False, encoding = 'utf-8-sig')
combined_csv.to_csv( "../nasdq-stock-price-" + fileTypesToMerge + "-all-merged.csv", index = False, encoding = 'utf-8-sig')

# Compare the size before and after merging

In [10]:
print('Size before Merge');
row_total_count

Size before Merge

0

In [11]:
print('Size After Merge');
#df = pd.read_csv("../combined_data/stock-price-" + fileTypesToMerge + "-all-merged.csv")
df = pd.read_csv("../nasdq-stock-price-" + fileTypesToMerge + "-all-merged.csv")
df.shape

Size After Merge

C:\Users\sayed\AppData\Local\Temp\ipykernel_35668\3250555256.py:3: DtypeWarning: Columns (4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../nasdq-stock-price-" + fileTypesToMerge + "-all-merged.csv")

(361637, 13)

In [12]:
# Check the combined data

In [13]:
df.head()
# df.tail()

,Unnamed: 0,Ticker,Date,Low,Open,Volume,High,Close,Adjusted Close,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,0,FFIV,04-06-1999,5.0625,5.125,7386600.0,7.921875,7.43750,7.43750,NaN,NaN,NaN,NaN
1,1,FFIV,07-06-1999,7.3125,7.90625,1234600.0,8.3125,7.75000,7.75000,NaN,NaN,NaN,NaN
2,2,FFIV,08-06-1999,7.7500,7.8125,1477200.0,10.1875,9.84375,9.84375,NaN,NaN,NaN,NaN
3,3,FFIV,09-06-1999,9.3125,10.0,1332600.0,10.59375,9.68750,9.68750,NaN,NaN,NaN,NaN
4,4,FFIV,10-06-1999,8.5000,9.6875,545600.0,9.84375,8.59375,8.59375,NaN,NaN,NaN,NaN

In [14]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,361627,361628,361629,361630,361631,361632,361633,361634,361635,361636
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,7860,7861,7862,7863,7864,7865,7866,7867,7868,7869
Ticker,FFIV,FFIV,FFIV,FFIV,FFIV,FFIV,FFIV,FFIV,FFIV,FFIV,...,BIIB,BIIB,BIIB,BIIB,BIIB,BIIB,BIIB,BIIB,BIIB,BIIB
Date,04-06-1999,07-06-1999,08-06-1999,09-06-1999,10-06-1999,11-06-1999,14-06-1999,15-06-1999,16-06-1999,17-06-1999,...,29-11-2022,30-11-2022,01-12-2022,02-12-2022,05-12-2022,06-12-2022,07-12-2022,08-12-2022,09-12-2022,12-12-2022
Low,5.0625,7.3125,7.75,9.3125,8.5,7.9375,7.25,7.4375,7.8125,8.375,...,288.440002,301.200012,299.170013,297.779999,290.230011,288.529999,287.100006,286.720001,285.140015,282.570007
Open,5.125,7.90625,7.8125,10.0,9.6875,8.625,7.96875,7.4375,7.875,8.4375,...,291.100006,306.279999,305.51001,299.23999,299.179993,292.220001,292.559998,291.859985,289.100006,285.0
Volume,7386600.0,1234600.0,1477200.0,1332600.0,545600.0,446200.0,503600.0,384400.0,135400.0,814000.0,...,1104000.0,4067800.0,1927900.0,1682600.0,1498400.0,1036100.0,1112700.0,1695600.0,982600.0,229288.0
High,7.921875,8.3125,10.1875,10.59375,9.84375,8.6875,8.0,8.0625,8.9375,10.40625,...,293.970001,311.880005,306.279999,305.059998,299.700012,295.070007,293.600006,292.320007,292.970001,286.450012
Close,7.4375,7.75,9.84375,9.6875,8.59375,8.0,7.625,7.75,8.34375,10.03125,...,291.410004,305.170013,301.850006,298.899994,292.75,291.470001,292.149994,289.100006,285.369995,286.179993
Adjusted Close,7.4375,7.75,9.84375,9.6875,8.59375,8.0,7.625,7.75,8.34375,10.03125,...,291.410004,305.170013,301.850006,298.899994,292.75,291.470001,292.149994,289.100006,285.369995,286.179993
Unnamed: 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN