# Import Libraries

In [1]:
import pandas as pd
# Import Libraries for Graph, GNN, and GCN

import stellargraph as sg
from stellargraph import StellarGraph

from stellargraph.mapper import FullBatchNodeGenerator
from stellargraph.layer import GCN

In [2]:
# Machine Learnig related library Imports

from tensorflow.keras import layers, optimizers, losses, metrics, Model
from sklearn import preprocessing, model_selection
from IPython.display import display, HTML
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data_folder = './data/yahoonewsarchive/'
# os.chdir(data_folder);
# file = data_folder + 'NEWS_YAHOO_stock_prediction.csv';
file = data_folder + 'News_Yahoo_stock.csv';

In [4]:
df_news = pd.read_csv(file)
df_news.head()

,Unnamed: 0,title,content,label
0,0,Apple Set To Beat Q1 Earnings Estimates Tech ...,Technology giant Apple NASDAQ AAPL is set ...,0
1,1,Tech Daily Intel Results Netflix Surge Appl...,The top stories in this digest are Intel s N...,0
2,2,7 Monster Stock Market Predictions For The Wee...,S P 500 SPY \nThis week will be packed with e...,0
3,3,Apple Earnings Preview 5G Launch Expanding S...,Reports Q1 2020 results on Tuesday Jan 28 ...,0
4,4,Buy Surging Apple Microsoft Stock Before Qua...,On today s episode of Full Court Finance here ...,0

In [5]:
df_news = df_news[:100]

# Approaches: Find all stock tickers in an/all article/articles

1. Find code that does this: from internet or from previous work or from courses that you have taken online or in academia
2. Iterative read the article and match with stock tickers, and find all tickers. Drawback: to which tickers to match or how will you know what is a ticker? Any two to four letters Uppercase, NASDAQ AAPL
3. Load the article in database and then use SQL -> may not work that well unless you write some functions
4. NLTK, remove stop words, find all tokens, then find All Uppercase words. create a list. attach article ids to the list. Then match with the list of tockers. find common tickers between them. then create tuples with two (indicating edge) (source target weight)

In [6]:
# import NLTK libraries
# remove stop words using NLTK methods 
# remove all sorts of unnecessary words
# find all tokens
# Keep only All Uppercase words in a list : dictionary/map: dataframe will be ideal
# create a list/dictionary/map: dataframe will be ideal. attach article ids to the list/dataframe data.
# Create a list of all NasDAQ Tickers
# Then match with the list of NASDAQ tockers. 
# find common tickers between them. 
# then create tuples with two (indicating edge) (source target weight)
# increase weight for each article and pair when you see a match

In [7]:
# import NLTK libraries
import nltk

In [8]:
# remove stop words using NLTK methods 
# remove all sorts of unnecessary words
# find all tokens
# Keep only All Uppercase words in a list : dictionary/map: dataframe will be ideal

from nltk.tokenize import RegexpTokenizer

dataFrameWithOnlyCapitalWords = pd.DataFrame(columns =  ["id", "Title", "Content"]) 
for index, row in df_news.iterrows():
    # print(row[id], row['title'], row['content'])
                
    # words with capital letters in the beginning +  as much as possible
    capitalWords = RegexpTokenizer('[A-Z]+[A-Z]\w+')
    # print("\n::All Capital Words::", capitalWords.tokenize(row['content']))
    allCapitalWords = capitalWords.tokenize(row['content'])
        
    dataFrameWithOnlyCapitalWords.loc[index] = [index, row['title'], allCapitalWords]
    #break



dataFrameWithOnlyCapitalWords.head() #, dataFrameWithOnlyCapitalWords.shape

,id,Title,Content
0,0,Apple Set To Beat Q1 Earnings Estimates Tech ...,"[NASDAQ, AAPL, ESP, EPS, AAPL, ETFs, ETFs, ETF..."
1,1,Tech Daily Intel Results Netflix Surge Appl...,"[NYSE, NASDAQ, NFLX, NASDAQ, AAPL, NASDAQ, GOO..."
2,2,7 Monster Stock Market Predictions For The Wee...,"[SPY, AAPL, NASDAQ, AAPL, RSI, RSI, AMD, AMD, ..."
3,3,Apple Earnings Preview 5G Launch Expanding S...,"[EPS, NASDAQ, AAPL, CNBC]"
4,4,Buy Surging Apple Microsoft Stock Before Qua...,"[NASDAQ, AAPL, NASDAQ, MSFT, NASDAQ, AMZN, NAS..."

# Create a list of all (NasDAQ) 30 stocks as per the paper

In [9]:
# Find/Create a list of NASDAQ Stocks
import os
import glob
nasdaqDataFolder = './archive/stock_market_data/nasdaq/csv'
os.chdir(nasdaqDataFolder)

In [10]:
# Create a list of all NasDAQ Tickers

extension = "csv"
fileTypesToMerge = ""
# all_filenames = [i for i in glob.glob('*' + '*.{}'.format(extension))]
all_nasdaq_tickers = [i[:-4] for i in glob.glob('*' + fileTypesToMerge + '*.{}'.format(extension))]
nasdaq_tickers_to_process = all_nasdaq_tickers #[:10]
nasdaq_tickers_to_process

['AAL',
 'AAME',
 'AAOI',
 'AAON',
 'AAPL',
 'AAVL',
 'AAWW',
 'ABCB',
 'ABCD',
 'ABCO',
 'ABIO',
 'ABMD',
 'ACAD',
 'ACET',
 'ACFC',
 'ACFN',
 'ACGL',
 'ACHC',
 'ACHN',
 'ACIW',
 'ACLS',
 'ACNB',
 'ACOR',
 'ACRX',
 'ACST',
 'ACTA',
 'ACTG',
 'ACUR',
 'ADBE',
 'ADES',
 'ADI',
 'ADMA',
 'ADMP',
 'ADP',
 'ADSK',
 'ADTN',
 'ADUS',
 'ADXS',
 'AEHR',
 'AEIS',
 'AELTF',
 'AERI',
 'AEY',
 'AEZS',
 'AFAM',
 'AFCB',
 'AFMD',
 'AFSI',
 'AGEN',
 'AGIO',
 'AGRX',
 'AGTC',
 'AGYS',
 'AHGP',
 'AHPI',
 'AIMC',
 'AIQ',
 'AIRT',
 'AJISF',
 'AKAM',
 'AKBA',
 'ALCO',
 'ALDX',
 'ALGN',
 'ALGT',
 'ALIM',
 'ALKS',
 'ALLT',
 'ALNY',
 'ALOG',
 'ALSD',
 'AMAT',
 'AMBA',
 'AMBC',
 'AMCF',
 'AMCX',
 'AMD',
 'AMED',
 'AMGN',
 'AMKR',
 'AMNB',
 'AMOT',
 'AMPH',
 'AMRN',
 'AMRS',
 'AMSC',
 'AMSWA',
 'AMTX',
 'AMWD',
 'AMX',
 'AMZN',
 'ANAC',
 'ANCB',
 'ANCX',
 'ANDE',
 'ANGI',
 'ANGO',
 'ANIK',
 'ANIP',
 'ANTH',
 'ANY',
 'AOSL',
 'APDN',
 'APEI',
 'APOG',
 'APTO',
 'APWC',
 'ARAY',
 'ARCB',
 'ARCC',
 'ARCK',
 'ARCW',
 'ARDX',
 'ARII',
 'ARIS',
 'ARKR',
 'ARLP',
 'AROW',
 'ARRY',
 'ARTNA',
 'ASMB',
 'ASML',
 'ASPS',
 'ASRV',
 'ASTC',
 'ASTE',
 'ASTI',
 'ASUR',
 'ASYS',
 'ATAI',
 'ATAX',
 'ATEC',
 'ATHX',
 'ATLC',
 'ATLO',
 'ATNM',
 'ATOS',
 'ATRA',
 'ATRC',
 'ATRO',
 'ATSG',
 'ATVI',
 'AUBN',
 'AUDC',
 'AUPH',
 'AVAV',
 'AVEO',
 'AVHI',
 'AVID',
 'AVNW',
 'AWAY',
 'AWRE',
 'AXAS',
 'AXDX',
 'AXGN',
 'AXTI',
 'AZPN',
 'BANF',
 'BANR',
 'BANX',
 'BBBY',
 'BBGI',
 'BBLU',
 'BBOX',
 'BBRG',
 'BBSI',
 'BCBP',
 'BCLI',
 'BCMXY',
 'BCOR',
 'BCOV',
 'BCPC',
 'BCRX',
 'BCS',
 'BDMS',
 'BDSI',
 'BEAT',
 'BEBE',
 'BECN',
 'BELFB',
 'BFIN',
 'BGCP',
 'BGFV',
 'BGMD',
 'BIDU',
 'BIIB',
 'BIND',
 'BIOC',
 'BIOS',
 'BITRF',
 'BJRI',
 'BKCC',
 'BLCM',
 'BLDP',
 'BLDR',
 'BLFS',
 'BLIN',
 'BLKB',
 'BLMN',
 'BLRX',
 'BLUE',
 'BMRC',
 'BMRN',
 'BNFT',
 'BNSO',
 'BOKF',
 'BOSC',
 'BOTJ',
 'BPOP',
 'BRFH',
 'BRID',
 'BRKL',
 'BRKR',
 'BSET',
 'BSF',
 'BSPM',
 'BSQR',
 'BSRR',
 'BSTG',
 'BUR',
 'BUSE',
 'BV',
 'BWEN',
 'BWFG',
 'BYBK',
 'BYFC',
 'CAAS',
 'CAC',
 'CACC',
 'CACH',
 'CAKE',
 'CALA',
 'CALD',
 'CALL',
 'CAMP',
 'CAMT',
 'CAR',
 'CARA',
 'CARV',
 'CASH',
 'CASI',
 'CASS',
 'CASY',
 'CATY',
 'CAVM',
 'CBAN',
 'CBAY',
 'CBFC',
 'CBFV',
 'CBNK',
 'CBOE',
 'CBRL',
 'CBSH',
 'CCBG',
 'CCF',
 'CCIH',
 'CCLP',
 'CCNE',
 'CCOI',
 'CCRN',
 'CCUR',
 'CCXI',
 'CDNA',
 'CDNS',
 'CDTI',
 'CDW',
 'CDXS',
 'CDZI',
 'CECE',
 'CECO',
 'CEMI',
 'CENT',
 'CENX',
 'CERE',
 'CERS',
 'CEVA',
 'CFBK',
 'CFFI',
 'CFFN',
 'CFNB',
 'CFRX',
 'CG',
 'CGEN',
 'CGNX',
 'CGO',
 'CHCI',
 'CHCO',
 'CHDN',
 'CHEF',
 'CHFN',
 'CHI',
 'CHKP',
 'CHMG',
 'CHNR',
 'CHRS',
 'CHRW',
 'CHSCP',
 'CHSYF',
 'CHTR',
 'CHUY',
 'CHW',
 'CHY',
 'CIDM',
 'CINF',
 'CIZN',
 'CLDX',
 'CLFD',
 'CLIR',
 'CLMT',
 'CLNE',
 'CLRB',
 'CLRI',
 'CLRO',
 'CLVS',
 'CLWT',
 'CMCO',
 'CMCSA',
 'CMCT',
 'CME',
 'CMLS',
 'CMOXF',
 'CMPR',
 'CMRX',
 'CMTL',
 'CNBZ',
 'CNCE',
 'CNET',
 'CNMD',
 'CNOB',
 'CNSL',
 'CNTY',
 'CNXR',
 'COBZ',
 'COCO',
 'COHR',
 'COHU',
 'COLB',
 'COLM',
 'COMM',
 'CONN',
 'CORI',
 'CORT',
 'COST',
 'CPHC',
 'CPICQ',
 'CPIX',
 'CPLA',
 'CPLP',
 'CPRT',
 'CPRX',
 'CPSI',
 'CPSS',
 'CRAI',
 'CREG',
 'CRIS',
 'CRMT',
 'CRNT',
 'CROX',
 'CRTN',
 'CRTO',
 'CRUS',
 'CRVS',
 'CRWS',
 'CS',
 'CSBK',
 'CSBR',
 'CSCO',
 'CSGP',
 'CSGS',
 'CSII',
 'CSIQ',
 'CSPI',
 'CSQ',
 'CSTE',
 'CSWC',
 'CTAS',
 'CTBI',
 'CTG',
 'CTHR',
 'CTIB',
 'CTIC',
 'CTRE',
 'CTRN',
 'CTSH',
 'CTSO',
 'CUBA',
 'CUTR',
 'CVCO',
 'CVCY',
 'CVGI',
 'CVGW',
 'CVLT',
 'CVLY',
 'CVV',
 'CWAY',
 'CWBC',
 'CWCO',
 'CWST',
 'CXDC',
 'CYAN',
 'CYBE',
 'CYBR',
 'CYCC',
 'CYH',
 'CYIO',
 'CYRN',
 'CYTK',
 'CZNC',
 'CZR',
 'CZWI',
 'DAIO',
 'DAKT',
 'DARA',
 'DAVE',
 'DBVT',
 'DCOM',
 'DCTH',
 'DENN',
 'DERM',
 'DFEL',
 'DGICA',
 'DGII',
 'DGLY',
 'DHIL',
 'DIOD',
 'DISH',
 'DJCO',
 'DLHC',
 'DLTR',
 'DMFG',
 'DMLP',
 'DMRC',
 'DORM',
 'DOX',
 'DRIV',
 'DRRX',
 'DSGX',
 'DSWL',
 'DVAX',
 'DWCH',
 'DWSN',
 'DXCM',
 'DXLG',
 'DXM',
 'DXPE',
 'DXYN',
 'DYNT',
 'DYSL',
 'EA',
 'EAC',
 'EBAY',
 'EBIX',
 'EBMT',
 'EBTC',
 'ECOL',
 'ECPG',
 'ECYT',
 'EDAP',
 'EDF',
 'EDGW',
 'EDI',
 'EDSFF',
 'EDUC',
 'EEFT',
 'EFLVF',
 'EFOI',
 'EFSC',
 'EGAN',
 'EGBN',
 'EGHT',
 'EGLE',
 'EGRX',
 'EHTH',
 'ELON',
 'ELTK',
 'EMCF',
 'EMF',
 'EMITF',
 'EMKR',
 'EML',
 'EMMS',
 'ENBP',
 'ENPH',
 'ENSG',
 'ENTA',
 'ENTG',
 'ENTR',
 'ENZN',
 'EPAM',
 'EQIX',
 'ERIE',
 'ERII',
 'ESCA',
 'ESCR',
 'ESEA',
 'ESGR',
 'ESIO',
 'ESLT',
 'ESMC',
 'ESPR',
 'ESRX',
 'ESSA',
 'ETOLF',
 'EVLV',
 'EVOK',
 'EVOL',
 'EWBC',
 'EXAC',
 'EXAS',
 'EXEL',
 'EXLS',
 'EXPD',
 'EXPE',
 'EXPO',
 'EXTR',
 'EZPW',
 'FALC',
 'FAM',
 'FANG',
 'FARM',
 'FARO',
 'FAST',
 'FATE',
 'FBIZ',
 'FBMS',
 'FBP',
 'FCAP',
 'FCBC',
 'FCCO',
 'FCEL',
 'FCMGF',
 'FCNCA',
 'FCT',
 'FDUS',
 'FEI',
 'FEIM',
 'FELE',
 'FFA',
 'FFBC',
 'FFHL',
 'FFIC',
 'FFIN',
 'FFIV',
 'FFKT',
 'FFNM',
 'FFNW',
 'FFWM',
 'FGEN',
 'FIBK',
 'FIF',
 'FINL',
 'FISI',
 'FISV',
 'FITB',
 'FIVE',
 'FIVN',
 'FIZZ',
 'FLIC',
 'FLL',
 'FLXS',
 'FMI',
 'FMNB',
 'FMY',
 'FNHC',
 'FNLC',
 'FNRG',
 'FOLD',
 'FONR',
 'FORD',
 'FORM',
 'FORR',
 'FORTY',
 'FOSL',
 'FOXF',
 'FRBA',
 'FRBK',
 'FREE',
 'FRGI',
 'FRME',
 'FRPH',
 'FRPT',
 'FRSH',
 'FSBW',
 'FSD',
 'FSFF',
 'FSFG',
 'FSLR',
 'FSTR',
 'FTEK',
 'FTNT',
 'FULT',
 'FUNC',
 'FUND',
 'FWP',
 'FWRD',
 'GABC',
 'GAIA',
 'GAIN',
 'GALE',
 'GALT',
 'GAME',
 'GASS',
 'GBCI',
 'GBDC',
 'GBIM',
 'GBLI',
 'GBLX',
 'GBNK',
 'GCBC',
 'GCRIF',
 'GENC',
 'GENE',
 'GEOS',
 'GERN',
 'GEVO',
 'GGAL',
 'GIFI',
 'GIGM',
 'GILD',
 'GILT',
 'GK',
 'GLAD',
 'GLBS',
 'GLBZ',
 'GLDD',
 'GLMD',
 'GLNG',
 'GLPI',
 'GLRI',
 'GLYC',
 'GMAN',
 'GNBC',
 'GNCA',
 'GNCMA',
 'GNCNF',
 'GNOW',
 'GNTX',
 'GOGO',
 'GOLD',
 'GOOD',
 'GPOR',
 'GPRE',
 'GPRO',
 'GPS',
 'GRBK',
 'GRFS',
 'GRMN',
 'GROW',
 'GRPN',
 'GRSFF',
 'GSBC',
 'GSIG',
 'GSIT',
 'GT',
 'GTIM',
 'GTLS',
 'GULTU',
 'GURE',
 'HA',
 'HAFC',
 'HAIN',
 'HALL',
 'HALO',
 'HART',
 'HAS',
 'HAWK',
 'HAYN',
 'HBAN',
 'HBCP',
 'HBIO',
 'HBNC',
 'HCKT',
 'HCOM',
 'HCSG',
 'HDNG',
 'HDP',
 'HDSN',
 'HEAR',
 'HEES',
 'HELE',
 'HERO',
 'HES',
 'HFBL',
 'HFWA',
 'HIBB',
 'HIFS',
 'HIHO',
 'HIMX',
 'HLIT',
 'HMNF',
 'HMNY',
 'HMST',
 'HNNA',
 'HNRDF',
 'HNRG',
 'HOFT',
 'HOLI',
 'HOLX',
 'HOV',
 'HQCL',
 'HQY',
 'HRTX',
 'HRZN',
 'HSIC',
 'HSII',
 'HSKA',
 'HSON',
 'HSTM',
 'HTBI',
 'HTBK',
 'HTHT',
 'HTLD',
 'HTLF',
 'HUBG',
 'HURC',
 'HURN',
 'HWBK',
 'HWKN',
 'IAC',
 'IART',
 'IBCP',
 'IBKR',
 'IBOC',
 'IBTX',
 'ICCC',
 'ICFI',
 'ICLD',
 'ICPT',
 'ICUI',
 'IDCC',
 'IDRA',
 'IDXX',
 'IEP',
 'IGLD',
 'IHD',
 'III',
 'IIIN',
 'ILMN',
 'IMGN',
 'IMIAY',
 'IMKTA',
 'IMMR',
 'IMOS',
 'INBK',
 'INCR',
 'INCY',
 'INDB',
 'INFA',
 'INFI',
 'INFN',
 'INGN',
 'INO',
 'INOD',
 'INTC',
 'INTG',
 'INTL',
 'INTU',
 'INTX',
 'INVE',
 'IOSP',
 'IPAR',
 'IPAS',
 'IPCC',
 'IPDN',
 'IPGP',
 'IPWR',
 'IPXL',
 'IRBT',
 'IRDM',
 'IRIX',
 'IRMD',
 'IROQ',
 'IRWD',
 'ISBC',
 'ISIG',
 'ISRG',
 'ISSC',
 'ISTR',
 'ITI',
 'ITIC',
 'ITRI',
 'ITRN',
 'ITSXF',
 'IUSPF',
 'IUTCF',
 'IUTSF',
 'IVAC',
 'JACK',
 'JAKK',
 'JBHT',
 'JBLU',
 'JBSS',
 'JD',
 'JJSF',
 'JKHY',
 'JMBA',
 'JOUT',
 'JPM-PC',
 'JRVR',
 'JSD',
 'JTPY',
 'JUNO',
 'JVA',
 'JXSB',
 'JYNT',
 'KALU',
 'KANG',
 'KBAL',
 'KCLI',
 'KE',
 'KELYA',
 'KEQU',
 'KERX',
 'KEYW',
 'KFFB',
 'KFRC',
 'KGJI',
 'KINS',
 'KIRK',
 'KLIC',
 'KLXI',
 'KMDA',
 'KNDI',
 'KOPN',
 'KOSS',
 'KPTI',
 'KRNY',
 'KTCC',
 'KTEC',
 'KTOS',
 'KTWO',
 'KVHI',
 'LAKE',
 'LAMR',
 'LANC',
 'LAND',
 'LARK',
 'LAYN',
 'LBAI',
 'LBRDA',
 'LBTYA',
 'LCUT',
 'LE',
 'LECO',
 'LEDS',
 'LFUS',
 'LFVN',
 'LGCY',
 'LGIH',
 'LGND',
 'LILA',
 'LIME',
 'LINC',
 'LION',
 'LKFN',
 'LKQ',
 'LMAT',
 'LMDCF',
 'LMNR',
 'LNDC',
 'LOAN',
 'LOCM',
 'LOCO',
 'LOGI',
 'LOPE',
 'LPCN',
 'LPLA',
 'LPNT',
 'LPSN',
 'LPTH',
 'LQDT',
 'LRCX',
 'LSBK',
 'LSCC',
 'LSTR',
 'LTBR',
 'LTRE',
 'LTRPA',
 'LTRX',
 'LULU',
 'LUNA',
 'LVWD',
 'LWAY',
 'LXRX',
 'LYTS',
 'MA',
 'MACK',
 'MANH',
 'MAR',
 'MARA',
 'MARPS',
 'MASI',
 'MAT',
 'MATR',
 'MATW',
 'MAYS',
 'MBCN',
 'MBUU',
 'MBWM',
 'MCBC',
 'MCBK',
 'MCCK',
 'MCFUF',
 'MCHP',
 'MCHX',
 'MCOA',
 'MCRI',
 'MDLZ',
 'MDRX',
 'MDWD',
 'MDXG',
 'MEIL',
 'MEIP',
 'MELI',
 'MEOH',
 'MERC',
 'MET',
 'MGEE',
 'MGI',
 'MGIC',
 'MGNX',
 'MGPI',
 'MGRC',
 'MGYR',
 'MHLD',
 'MICT',
 'MIDD',
 'MIND',
 'MITK',
 'MITL',
 'MKSI',
 'MKTX',
 'MLAB',
 'MLNK',
 'MLVF',
 'MMLP',
 'MMS',
 'MMSI',
 'MMU',
 'MMYT',
 'MNDO',
 'MNKD',
 'MNOV',
 'MNRO',
 'MNST',
 'MNTX',
 'MOBL',
 'MOFG',
 'MOG-A',
 'MOMO',
 'MORN',
 'MPAA',
 'MPB',
 'MPWR',
 'MRCC',
 'MRCY',
 'MRNS',
 'MRTN',
 'MRTX',
 'MRVL',
 'MSCC',
 'MSEX',
 'MSFG',
 'MSFT',
 'MSTR',
 'MTBC',
 'MTEX',
 'MTLS',
 'MTRX',
 'MU',
 'MVIS',
 'MYGN',
 'MYRG',
 'MZOR',
 'NAII',
 'NATH',
 'NATI',
 'NATR',
 'NAUH',
 'NBIX',
 'NBN',
 'NBTB',
 'NCLH',
 'NCLIP',
 'NCMI',
 'NCTY',
 'NDLS',
 'NDSN',
 'NECB',
 'NEO',
 'NEOG',
 'NEON',
 'NEPT',
 'NERV',
 'NEWT',
 'NFLX',
 'NICE',
 'NICK',
 'NILE',
 'NKSH',
 ...]

In [11]:
nasdaq_tickers_to_process.remove('FREE')
nasdaq_tickers_to_process.remove('CBOE')
nasdaq_tickers_to_process.remove('III')
nasdaq_tickers_to_process.remove('RVNC')
sorted(nasdaq_tickers_to_process)

['AAL',
 'AAME',
 'AAOI',
 'AAON',
 'AAPL',
 'AAVL',
 'AAWW',
 'ABCB',
 'ABCD',
 'ABCO',
 'ABIO',
 'ABMD',
 'ACAD',
 'ACET',
 'ACFC',
 'ACFN',
 'ACGL',
 'ACHC',
 'ACHN',
 'ACIW',
 'ACLS',
 'ACNB',
 'ACOR',
 'ACRX',
 'ACST',
 'ACTA',
 'ACTG',
 'ACUR',
 'ADBE',
 'ADES',
 'ADI',
 'ADMA',
 'ADMP',
 'ADP',
 'ADSK',
 'ADTN',
 'ADUS',
 'ADXS',
 'AEHR',
 'AEIS',
 'AELTF',
 'AERI',
 'AEY',
 'AEZS',
 'AFAM',
 'AFCB',
 'AFMD',
 'AFSI',
 'AGEN',
 'AGIO',
 'AGRX',
 'AGTC',
 'AGYS',
 'AHGP',
 'AHPI',
 'AIMC',
 'AIQ',
 'AIRT',
 'AJISF',
 'AKAM',
 'AKBA',
 'ALCO',
 'ALDX',
 'ALGN',
 'ALGT',
 'ALIM',
 'ALKS',
 'ALLT',
 'ALNY',
 'ALOG',
 'ALSD',
 'AMAT',
 'AMBA',
 'AMBC',
 'AMCF',
 'AMCX',
 'AMD',
 'AMED',
 'AMGN',
 'AMKR',
 'AMNB',
 'AMOT',
 'AMPH',
 'AMRN',
 'AMRS',
 'AMSC',
 'AMSWA',
 'AMTX',
 'AMWD',
 'AMX',
 'AMZN',
 'ANAC',
 'ANCB',
 'ANCX',
 'ANDE',
 'ANGI',
 'ANGO',
 'ANIK',
 'ANIP',
 'ANTH',
 'ANY',
 'AOSL',
 'APDN',
 'APEI',
 'APOG',
 'APTO',
 'APWC',
 'ARAY',
 'ARCB',
 'ARCC',
 'ARCK',
 'ARCW',
 'ARDX',
 'ARII',
 'ARIS',
 'ARKR',
 'ARLP',
 'AROW',
 'ARRY',
 'ARTNA',
 'ASMB',
 'ASML',
 'ASPS',
 'ASRV',
 'ASTC',
 'ASTE',
 'ASTI',
 'ASUR',
 'ASYS',
 'ATAI',
 'ATAX',
 'ATEC',
 'ATHX',
 'ATLC',
 'ATLO',
 'ATNM',
 'ATOS',
 'ATRA',
 'ATRC',
 'ATRO',
 'ATSG',
 'ATVI',
 'AUBN',
 'AUDC',
 'AUPH',
 'AVAV',
 'AVEO',
 'AVHI',
 'AVID',
 'AVNW',
 'AWAY',
 'AWRE',
 'AXAS',
 'AXDX',
 'AXGN',
 'AXTI',
 'AZPN',
 'BANF',
 'BANR',
 'BANX',
 'BBBY',
 'BBGI',
 'BBLU',
 'BBOX',
 'BBRG',
 'BBSI',
 'BCBP',
 'BCLI',
 'BCMXY',
 'BCOR',
 'BCOV',
 'BCPC',
 'BCRX',
 'BCS',
 'BDMS',
 'BDSI',
 'BEAT',
 'BEBE',
 'BECN',
 'BELFB',
 'BFIN',
 'BGCP',
 'BGFV',
 'BGMD',
 'BIDU',
 'BIIB',
 'BIND',
 'BIOC',
 'BIOS',
 'BITRF',
 'BJRI',
 'BKCC',
 'BLCM',
 'BLDP',
 'BLDR',
 'BLFS',
 'BLIN',
 'BLKB',
 'BLMN',
 'BLRX',
 'BLUE',
 'BMRC',
 'BMRN',
 'BNFT',
 'BNSO',
 'BOKF',
 'BOSC',
 'BOTJ',
 'BPOP',
 'BRFH',
 'BRID',
 'BRKL',
 'BRKR',
 'BSET',
 'BSF',
 'BSPM',
 'BSQR',
 'BSRR',
 'BSTG',
 'BUR',
 'BUSE',
 'BV',
 'BWEN',
 'BWFG',
 'BYBK',
 'BYFC',
 'CAAS',
 'CAC',
 'CACC',
 'CACH',
 'CAKE',
 'CALA',
 'CALD',
 'CALL',
 'CAMP',
 'CAMT',
 'CAR',
 'CARA',
 'CARV',
 'CASH',
 'CASI',
 'CASS',
 'CASY',
 'CATY',
 'CAVM',
 'CBAN',
 'CBAY',
 'CBFC',
 'CBFV',
 'CBNK',
 'CBRL',
 'CBSH',
 'CCBG',
 'CCF',
 'CCIH',
 'CCLP',
 'CCNE',
 'CCOI',
 'CCRN',
 'CCUR',
 'CCXI',
 'CDNA',
 'CDNS',
 'CDTI',
 'CDW',
 'CDXS',
 'CDZI',
 'CECE',
 'CECO',
 'CEMI',
 'CENT',
 'CENX',
 'CERE',
 'CERS',
 'CEVA',
 'CFBK',
 'CFFI',
 'CFFN',
 'CFNB',
 'CFRX',
 'CG',
 'CGEN',
 'CGNX',
 'CGO',
 'CHCI',
 'CHCO',
 'CHDN',
 'CHEF',
 'CHFN',
 'CHI',
 'CHKP',
 'CHMG',
 'CHNR',
 'CHRS',
 'CHRW',
 'CHSCP',
 'CHSYF',
 'CHTR',
 'CHUY',
 'CHW',
 'CHY',
 'CIDM',
 'CINF',
 'CIZN',
 'CLDX',
 'CLFD',
 'CLIR',
 'CLMT',
 'CLNE',
 'CLRB',
 'CLRI',
 'CLRO',
 'CLVS',
 'CLWT',
 'CMCO',
 'CMCSA',
 'CMCT',
 'CME',
 'CMLS',
 'CMOXF',
 'CMPR',
 'CMRX',
 'CMTL',
 'CNBZ',
 'CNCE',
 'CNET',
 'CNMD',
 'CNOB',
 'CNSL',
 'CNTY',
 'CNXR',
 'COBZ',
 'COCO',
 'COHR',
 'COHU',
 'COLB',
 'COLM',
 'COMM',
 'CONN',
 'CORI',
 'CORT',
 'COST',
 'CPHC',
 'CPICQ',
 'CPIX',
 'CPLA',
 'CPLP',
 'CPRT',
 'CPRX',
 'CPSI',
 'CPSS',
 'CRAI',
 'CREG',
 'CRIS',
 'CRMT',
 'CRNT',
 'CROX',
 'CRTN',
 'CRTO',
 'CRUS',
 'CRVS',
 'CRWS',
 'CS',
 'CSBK',
 'CSBR',
 'CSCO',
 'CSGP',
 'CSGS',
 'CSII',
 'CSIQ',
 'CSPI',
 'CSQ',
 'CSTE',
 'CSWC',
 'CTAS',
 'CTBI',
 'CTG',
 'CTHR',
 'CTIB',
 'CTIC',
 'CTRE',
 'CTRN',
 'CTSH',
 'CTSO',
 'CUBA',
 'CUTR',
 'CVCO',
 'CVCY',
 'CVGI',
 'CVGW',
 'CVLT',
 'CVLY',
 'CVV',
 'CWAY',
 'CWBC',
 'CWCO',
 'CWST',
 'CXDC',
 'CYAN',
 'CYBE',
 'CYBR',
 'CYCC',
 'CYH',
 'CYIO',
 'CYRN',
 'CYTK',
 'CZNC',
 'CZR',
 'CZWI',
 'DAIO',
 'DAKT',
 'DARA',
 'DAVE',
 'DBVT',
 'DCOM',
 'DCTH',
 'DENN',
 'DERM',
 'DFEL',
 'DGICA',
 'DGII',
 'DGLY',
 'DHIL',
 'DIOD',
 'DISH',
 'DJCO',
 'DLHC',
 'DLTR',
 'DMFG',
 'DMLP',
 'DMRC',
 'DORM',
 'DOX',
 'DRIV',
 'DRRX',
 'DSGX',
 'DSWL',
 'DVAX',
 'DWCH',
 'DWSN',
 'DXCM',
 'DXLG',
 'DXM',
 'DXPE',
 'DXYN',
 'DYNT',
 'DYSL',
 'EA',
 'EAC',
 'EBAY',
 'EBIX',
 'EBMT',
 'EBTC',
 'ECOL',
 'ECPG',
 'ECYT',
 'EDAP',
 'EDF',
 'EDGW',
 'EDI',
 'EDSFF',
 'EDUC',
 'EEFT',
 'EFLVF',
 'EFOI',
 'EFSC',
 'EGAN',
 'EGBN',
 'EGHT',
 'EGLE',
 'EGRX',
 'EHTH',
 'ELON',
 'ELTK',
 'EMCF',
 'EMF',
 'EMITF',
 'EMKR',
 'EML',
 'EMMS',
 'ENBP',
 'ENPH',
 'ENSG',
 'ENTA',
 'ENTG',
 'ENTR',
 'ENZN',
 'EPAM',
 'EQIX',
 'ERIE',
 'ERII',
 'ESCA',
 'ESCR',
 'ESEA',
 'ESGR',
 'ESIO',
 'ESLT',
 'ESMC',
 'ESPR',
 'ESRX',
 'ESSA',
 'ETOLF',
 'EVLV',
 'EVOK',
 'EVOL',
 'EWBC',
 'EXAC',
 'EXAS',
 'EXEL',
 'EXLS',
 'EXPD',
 'EXPE',
 'EXPO',
 'EXTR',
 'EZPW',
 'FALC',
 'FAM',
 'FANG',
 'FARM',
 'FARO',
 'FAST',
 'FATE',
 'FBIZ',
 'FBMS',
 'FBP',
 'FCAP',
 'FCBC',
 'FCCO',
 'FCEL',
 'FCMGF',
 'FCNCA',
 'FCT',
 'FDUS',
 'FEI',
 'FEIM',
 'FELE',
 'FFA',
 'FFBC',
 'FFHL',
 'FFIC',
 'FFIN',
 'FFIV',
 'FFKT',
 'FFNM',
 'FFNW',
 'FFWM',
 'FGEN',
 'FIBK',
 'FIF',
 'FINL',
 'FISI',
 'FISV',
 'FITB',
 'FIVE',
 'FIVN',
 'FIZZ',
 'FLIC',
 'FLL',
 'FLXS',
 'FMI',
 'FMNB',
 'FMY',
 'FNHC',
 'FNLC',
 'FNRG',
 'FOLD',
 'FONR',
 'FORD',
 'FORM',
 'FORR',
 'FORTY',
 'FOSL',
 'FOXF',
 'FRBA',
 'FRBK',
 'FRGI',
 'FRME',
 'FRPH',
 'FRPT',
 'FRSH',
 'FSBW',
 'FSD',
 'FSFF',
 'FSFG',
 'FSLR',
 'FSTR',
 'FTEK',
 'FTNT',
 'FULT',
 'FUNC',
 'FUND',
 'FWP',
 'FWRD',
 'GABC',
 'GAIA',
 'GAIN',
 'GALE',
 'GALT',
 'GAME',
 'GASS',
 'GBCI',
 'GBDC',
 'GBIM',
 'GBLI',
 'GBLX',
 'GBNK',
 'GCBC',
 'GCRIF',
 'GENC',
 'GENE',
 'GEOS',
 'GERN',
 'GEVO',
 'GGAL',
 'GIFI',
 'GIGM',
 'GILD',
 'GILT',
 'GK',
 'GLAD',
 'GLBS',
 'GLBZ',
 'GLDD',
 'GLMD',
 'GLNG',
 'GLPI',
 'GLRI',
 'GLYC',
 'GMAN',
 'GNBC',
 'GNCA',
 'GNCMA',
 'GNCNF',
 'GNOW',
 'GNTX',
 'GOGO',
 'GOLD',
 'GOOD',
 'GPOR',
 'GPRE',
 'GPRO',
 'GPS',
 'GRBK',
 'GRFS',
 'GRMN',
 'GROW',
 'GRPN',
 'GRSFF',
 'GSBC',
 'GSIG',
 'GSIT',
 'GT',
 'GTIM',
 'GTLS',
 'GULTU',
 'GURE',
 'HA',
 'HAFC',
 'HAIN',
 'HALL',
 'HALO',
 'HART',
 'HAS',
 'HAWK',
 'HAYN',
 'HBAN',
 'HBCP',
 'HBIO',
 'HBNC',
 'HCKT',
 'HCOM',
 'HCSG',
 'HDNG',
 'HDP',
 'HDSN',
 'HEAR',
 'HEES',
 'HELE',
 'HERO',
 'HES',
 'HFBL',
 'HFWA',
 'HIBB',
 'HIFS',
 'HIHO',
 'HIMX',
 'HLIT',
 'HMNF',
 'HMNY',
 'HMST',
 'HNNA',
 'HNRDF',
 'HNRG',
 'HOFT',
 'HOLI',
 'HOLX',
 'HOV',
 'HQCL',
 'HQY',
 'HRTX',
 'HRZN',
 'HSIC',
 'HSII',
 'HSKA',
 'HSON',
 'HSTM',
 'HTBI',
 'HTBK',
 'HTHT',
 'HTLD',
 'HTLF',
 'HUBG',
 'HURC',
 'HURN',
 'HWBK',
 'HWKN',
 'IAC',
 'IART',
 'IBCP',
 'IBKR',
 'IBOC',
 'IBTX',
 'ICCC',
 'ICFI',
 'ICLD',
 'ICPT',
 'ICUI',
 'IDCC',
 'IDRA',
 'IDXX',
 'IEP',
 'IGLD',
 'IHD',
 'IIIN',
 'ILMN',
 'IMGN',
 'IMIAY',
 'IMKTA',
 'IMMR',
 'IMOS',
 'INBK',
 'INCR',
 'INCY',
 'INDB',
 'INFA',
 'INFI',
 'INFN',
 'INGN',
 'INO',
 'INOD',
 'INTC',
 'INTG',
 'INTL',
 'INTU',
 'INTX',
 'INVE',
 'IOSP',
 'IPAR',
 'IPAS',
 'IPCC',
 'IPDN',
 'IPGP',
 'IPWR',
 'IPXL',
 'IRBT',
 'IRDM',
 'IRIX',
 'IRMD',
 'IROQ',
 'IRWD',
 'ISBC',
 'ISIG',
 'ISRG',
 'ISSC',
 'ISTR',
 'ITI',
 'ITIC',
 'ITRI',
 'ITRN',
 'ITSXF',
 'IUSPF',
 'IUTCF',
 'IUTSF',
 'IVAC',
 'JACK',
 'JAKK',
 'JBHT',
 'JBLU',
 'JBSS',
 'JD',
 'JJSF',
 'JKHY',
 'JMBA',
 'JOUT',
 'JPM-PC',
 'JRVR',
 'JSD',
 'JTPY',
 'JUNO',
 'JVA',
 'JXSB',
 'JYNT',
 'KALU',
 'KANG',
 'KBAL',
 'KCLI',
 'KE',
 'KELYA',
 'KEQU',
 'KERX',
 'KEYW',
 'KFFB',
 'KFRC',
 'KGJI',
 'KINS',
 'KIRK',
 'KLIC',
 'KLXI',
 'KMDA',
 'KNDI',
 'KOPN',
 'KOSS',
 'KPTI',
 'KRNY',
 'KTCC',
 'KTEC',
 'KTOS',
 'KTWO',
 'KVHI',
 'LAKE',
 'LAMR',
 'LANC',
 'LAND',
 'LARK',
 'LAYN',
 'LBAI',
 'LBRDA',
 'LBTYA',
 'LCUT',
 'LE',
 'LECO',
 'LEDS',
 'LFUS',
 'LFVN',
 'LGCY',
 'LGIH',
 'LGND',
 'LILA',
 'LIME',
 'LINC',
 'LION',
 'LKFN',
 'LKQ',
 'LMAT',
 'LMDCF',
 'LMNR',
 'LNDC',
 'LOAN',
 'LOCM',
 'LOCO',
 'LOGI',
 'LOPE',
 'LPCN',
 'LPLA',
 'LPNT',
 'LPSN',
 'LPTH',
 'LQDT',
 'LRCX',
 'LSBK',
 'LSCC',
 'LSTR',
 'LTBR',
 'LTRE',
 'LTRPA',
 'LTRX',
 'LULU',
 'LUNA',
 'LVWD',
 'LWAY',
 'LXRX',
 'LYTS',
 'MA',
 'MACK',
 'MANH',
 'MAR',
 'MARA',
 'MARPS',
 'MASI',
 'MAT',
 'MATR',
 'MATW',
 'MAYS',
 'MBCN',
 'MBUU',
 'MBWM',
 'MCBC',
 'MCBK',
 'MCCK',
 'MCFUF',
 'MCHP',
 'MCHX',
 'MCOA',
 'MCRI',
 'MDLZ',
 'MDRX',
 'MDWD',
 'MDXG',
 'MEIL',
 'MEIP',
 'MELI',
 'MEOH',
 'MERC',
 'MET',
 'MGEE',
 'MGI',
 'MGIC',
 'MGNX',
 'MGPI',
 'MGRC',
 'MGYR',
 'MHLD',
 'MICT',
 'MIDD',
 'MIND',
 'MITK',
 'MITL',
 'MKSI',
 'MKTX',
 'MLAB',
 'MLNK',
 'MLVF',
 'MMLP',
 'MMS',
 'MMSI',
 'MMU',
 'MMYT',
 'MNDO',
 'MNKD',
 'MNOV',
 'MNRO',
 'MNST',
 'MNTX',
 'MOBL',
 'MOFG',
 'MOG-A',
 'MOMO',
 'MORN',
 'MPAA',
 'MPB',
 'MPWR',
 'MRCC',
 'MRCY',
 'MRNS',
 'MRTN',
 'MRTX',
 'MRVL',
 'MSCC',
 'MSEX',
 'MSFG',
 'MSFT',
 'MSTR',
 'MTBC',
 'MTEX',
 'MTLS',
 'MTRX',
 'MU',
 'MVIS',
 'MYGN',
 'MYRG',
 'MZOR',
 'NAII',
 'NATH',
 'NATI',
 'NATR',
 'NAUH',
 'NBIX',
 'NBN',
 'NBTB',
 'NCLH',
 'NCLIP',
 'NCMI',
 'NCTY',
 'NDLS',
 'NDSN',
 'NECB',
 'NEO',
 'NEOG',
 'NEON',
 'NEPT',
 'NERV',
 'NEWT',
 'NFLX',
 'NICE',
 'NICK',
 'NILE',
 'NKSH',
 'NKTR',
 'NLST',
 'NMIH',
 ...]

In [12]:
fortune_30_tickers_to_process = [
'WMT',
'XOM',
'AAPL',
'UNH',
'MCK',
'CVS',
'AMZN',
'T',
'GM',
'F',
'ABC',
'CVX',
'CAH',
'COST',
'VZ',
'KR',
'GE',
'WBA',
'JPM',
'GOOGL',
'HD',
'BAC',
'WFC',
'BA',
'PSX',
'ANTM',
'MSFT',
'UNP',
'PCAR',
'DWDP']

nasdaq_tickers_to_process = [
'WMT',
'XOM',
'AAPL',
'UNH',
'MCK',
'CVS',
'AMZN',
'T',
'GM',
'F',
'ABC',
'CVX',
'CAH',
'COST',
'VZ',
'KR',
'GE',
'WBA',
# 'JPM',
#'GOOGL',
'HD',
'BAC',
'WFC',
'BA',
'PSX',
'ANTM',
'MSFT',
'UNP',
'PCAR',
'DWDP']

# Find NASDQ Tickers in each article
Create graph steps
Find all edges

In [13]:
combinedTupleList = [];
allMatchingTickers = [];
from itertools import combinations
for index, row in dataFrameWithOnlyCapitalWords.iterrows():
    #print(index)
    #print(set(row['Content']))
    #print(set(nasdaq_tickers_to_process));    
    matchingTickers = set(set(fortune_30_tickers_to_process).intersection(set(row['Content'])))
    #print(matchingTickers)
    if len (matchingTickers) > 1:
        allTuples = list(combinations(matchingTickers, 2));
        #print(list(combinations(matchingTickers, 2)))
        
        #allMatchingTickers = set(allMatchingTickers).union(matchingTickers);
        for aTuple in allTuples:
            combinedTupleList.append(tuple(sorted(aTuple)));
            allMatchingTickers.append(aTuple[0])
            allMatchingTickers.append(aTuple[1])
            
        
    # print("*******************");
    #break
    
#combinedTupleList = list(set(combinedTupleList))
allMatchingTickers = set(allMatchingTickers)

# list(set(combinedTupleList)), len(combinedTupleList), len(set(combinedTupleList)), allMatchingTickers, len(allMatchingTickers), len(set(allMatchingTickers))
sorted(combinedTupleList), type(aTuple), type(sorted(aTuple)), allMatchingTickers

([('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'AMZN'),
  ('AAPL', 'COST'),
  ('AAPL', 'COST'),
  ('AAPL', 'CVX'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'GOOGL'),
  ('AAPL', 'JPM'),
  ('AAPL', 'JPM'),
  ('AAPL', 'JPM'),
  ('AAPL', 'MCK'),
  ('AAPL', 'MSFT'),
  ('AAPL', 'MSFT'),
  ('AAPL', 'MSFT'),
  ('AAPL', 'MSFT'),
  ('AAPL', 'MSFT'),
  ('AAPL', 'MSFT'),
  ('AAPL', 'MSFT'),
  ('AAPL', 'MSFT'),
  ('AAPL', 'MSFT'),
  ('AAPL', 'MSFT'),
  ('AAPL', 'PSX'),
  ('AAPL', 'UNH'),
  ('AAPL', 'WMT'),
  ('AAPL', 'WMT'),
  ('AMZN', 'GOOGL'),
  ('AMZN', 'GOOGL'),
  ('AMZN', 'GOOGL'),
  ('AMZN', 'GOOGL'),
  ('AMZN', 'GOOGL'),
  ('AMZN', 'GOOGL'),
  ('AMZN', 'GOOGL'),
  ('AMZN', 'GOOGL'),
  ('AMZN', 'GOOGL'),
  ('AMZN', 'GOOGL'),
  ('AMZN', 'GOOGL'),
  ('AMZN', 'JPM'),
  ('AMZN', 'MSFT'),
  ('AMZN', 'MSFT'),
  ('AMZN', 'MSFT'),
  ('AMZN', 'MSFT'),
  ('AMZN', 'MSFT'),
  ('AMZN', 'MSFT'),
  ('AMZN', 'MSFT'),
  ('AMZN', 'MSFT'),
  ('AMZN', 'WMT'),
  ('AMZN', 'WMT'),
  ('COST', 'UNH'),
  ('GOOGL', 'JPM'),
  ('GOOGL', 'JPM'),
  ('GOOGL', 'MSFT'),
  ('GOOGL', 'MSFT'),
  ('GOOGL', 'PSX'),
  ('GOOGL', 'WMT'),
  ('JPM', 'MSFT'),
  ('MSFT', 'WMT')],
 tuple,
 list,
 {'AAPL',
  'AMZN',
  'COST',
  'CVX',
  'GOOGL',
  'JPM',
  'MCK',
  'MSFT',
  'PSX',
  'UNH',
  'WMT'})

In [14]:
#combinedTupleList[:1], set(allMatchingTickers)

In [15]:
# calculate edge weights
from collections import Counter

tuplesWithCount = dict(Counter(combinedTupleList))
tuplesWithCount

{('AAPL', 'GOOGL'): 16,
 ('AAPL', 'AMZN'): 20,
 ('AAPL', 'WMT'): 2,
 ('AMZN', 'GOOGL'): 11,
 ('GOOGL', 'WMT'): 1,
 ('AMZN', 'WMT'): 2,
 ('AAPL', 'MSFT'): 10,
 ('AMZN', 'MSFT'): 8,
 ('AAPL', 'PSX'): 1,
 ('GOOGL', 'PSX'): 1,
 ('AAPL', 'JPM'): 3,
 ('GOOGL', 'MSFT'): 2,
 ('AAPL', 'COST'): 2,
 ('MSFT', 'WMT'): 1,
 ('GOOGL', 'JPM'): 2,
 ('JPM', 'MSFT'): 1,
 ('AMZN', 'JPM'): 1,
 ('AAPL', 'CVX'): 1,
 ('AAPL', 'UNH'): 1,
 ('COST', 'UNH'): 1,
 ('AAPL', 'MCK'): 1}

In [16]:
l = list(tuplesWithCount.keys())
l

#print(list(zip(*l))[0])
#print(list(zip(*l))[1])

source = list(zip(*l))[0];
target = list(zip(*l))[1];
edge_weights = tuplesWithCount.values()
source, target, edge_weights, len(source), len(target)

(('AAPL',
  'AAPL',
  'AAPL',
  'AMZN',
  'GOOGL',
  'AMZN',
  'AAPL',
  'AMZN',
  'AAPL',
  'GOOGL',
  'AAPL',
  'GOOGL',
  'AAPL',
  'MSFT',
  'GOOGL',
  'JPM',
  'AMZN',
  'AAPL',
  'AAPL',
  'COST',
  'AAPL'),
 ('GOOGL',
  'AMZN',
  'WMT',
  'GOOGL',
  'WMT',
  'WMT',
  'MSFT',
  'MSFT',
  'PSX',
  'PSX',
  'JPM',
  'MSFT',
  'COST',
  'WMT',
  'JPM',
  'MSFT',
  'JPM',
  'CVX',
  'UNH',
  'UNH',
  'MCK'),
 dict_values([16, 20, 2, 11, 1, 2, 10, 8, 1, 1, 3, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1]),
 21,
 21)

# Finally Create graph based on financial news

In [17]:
os.getcwd()
os.chdir('../../../../')
os.getcwd()

'c:\\my_works_2021_07_25\\hd-thing\\mcmaster\\meng\\747\\project'

In [18]:
# Now create node data i.e time series to pass as part of the nodes
'''
df = pd.DataFrame();
data_file = "../../../..//archive/stock_market_data/nasdaq/nasdq-stock-price--all-merged.csv"
# stock-price--all-merged.csv"
df = pd.read_csv(data_file);
df.head()
'''

df = pd.DataFrame();
data_file = "per-day-fortune-30-company-stock-price-data.csv";
df = pd.read_csv("./data/" + data_file, low_memory = False);
df.head()

,Date,AAPL,ABC,AMZN,ANTM,BA,BAC,CAH,COST,CVS,...,PCAR,PSX,T,UNH,UNP,VZ,WBA,WFC,WMT,XOM
0,2017-01-03 00:00:00,29.037500,82.610001,37.683498,NaN,156.970001,22.530001,74.480003,159.729996,80.349998,...,43.546665,86.790001,32.492447,161.449997,102.519997,54.580002,82.959999,56.000000,68.660004,90.889999
1,2017-01-04 00:00:00,29.004999,84.660004,37.859001,NaN,158.619995,22.950001,75.629997,159.759995,79.750000,...,44.146667,87.260002,32.303623,161.910004,103.139999,54.520000,82.980003,56.049999,69.059998,89.889999
2,2017-01-05 00:00:00,29.152500,83.680000,39.022499,NaN,158.710007,22.680000,74.500000,162.910004,81.419998,...,43.426666,86.739998,32.212990,162.179993,102.129997,54.639999,83.029999,55.180000,69.209999,88.550003
3,2017-01-06 00:00:00,29.477501,84.800003,39.799500,NaN,159.100006,22.680000,75.330002,162.830002,82.199997,...,43.919998,85.400002,31.208460,162.410004,103.190002,53.259998,83.099998,55.040001,68.260002,88.500000
4,2017-01-09 00:00:00,29.747499,85.480003,39.846001,NaN,158.320007,22.549999,74.760002,160.970001,81.699997,...,43.380001,84.019997,30.815710,161.949997,102.419998,52.680000,82.550003,54.240002,68.709999,87.040001

In [19]:
drop_cols_with_na = 1
drop_rows_with_na = 0

In [20]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html


try:
  df = df.interpolate(inplace = False)
except:
  print("An exception occurred. Operation ignored")
  exit
    
df.isnull().values.any()
df[df.isna().any(axis = 1)]  


#----



if drop_cols_with_na == 1:
    df = df.dropna(axis = 1);    
   
df, df.shape

## -- 

df.isnull().values.any()
df[df.isna().any( axis = 1 )]


## --

# df_s_transpose.index = df_s_transpose['Date']
df.index = df.index.astype('datetime64[ns]')
df

,Date,AAPL,ABC,AMZN,BA,BAC,CAH,COST,CVS,CVX,...,PCAR,PSX,T,UNH,UNP,VZ,WBA,WFC,WMT,XOM
1970-01-01 00:00:00.000000000,2017-01-03 00:00:00,29.037500,82.610001,37.683498,156.970001,22.530001,74.480003,159.729996,80.349998,117.849998,...,43.546665,86.790001,32.492447,161.449997,102.519997,54.580002,82.959999,56.000000,68.660004,90.889999
1970-01-01 00:00:00.000000001,2017-01-04 00:00:00,29.004999,84.660004,37.859001,158.619995,22.950001,75.629997,159.759995,79.750000,117.820000,...,44.146667,87.260002,32.303623,161.910004,103.139999,54.520000,82.980003,56.049999,69.059998,89.889999
1970-01-01 00:00:00.000000002,2017-01-05 00:00:00,29.152500,83.680000,39.022499,158.710007,22.680000,74.500000,162.910004,81.419998,117.309998,...,43.426666,86.739998,32.212990,162.179993,102.129997,54.639999,83.029999,55.180000,69.209999,88.550003
1970-01-01 00:00:00.000000003,2017-01-06 00:00:00,29.477501,84.800003,39.799500,159.100006,22.680000,75.330002,162.830002,82.199997,116.839996,...,43.919998,85.400002,31.208460,162.410004,103.190002,53.259998,83.099998,55.040001,68.260002,88.500000
1970-01-01 00:00:00.000000004,2017-01-09 00:00:00,29.747499,85.480003,39.846001,158.320007,22.549999,74.760002,160.970001,81.699997,115.839996,...,43.380001,84.019997,30.815710,161.949997,102.419998,52.680000,82.550003,54.240002,68.709999,87.040001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970-01-01 00:00:00.000000748,2019-12-23 00:00:00,71.000000,85.599998,89.650002,337.549988,35.169998,51.130001,293.309998,74.379997,120.330002,...,53.033333,112.669998,29.509064,295.089996,179.419998,61.400002,58.570000,53.810001,119.029999,70.290001
1970-01-01 00:00:00.000000749,2019-12-24 00:00:00,71.067497,85.419998,89.460503,333.000000,35.220001,51.290001,294.230011,74.510002,120.339996,...,52.993332,113.199997,29.425982,294.540009,179.889999,61.279999,58.349998,53.820000,119.510002,70.019997
1970-01-01 00:00:00.000000750,2019-12-26 00:00:00,72.477501,85.050003,93.438499,329.920013,35.520000,51.169998,295.730011,74.480003,120.599998,...,53.006668,112.059998,29.577040,295.649994,180.809998,61.290001,58.900002,54.150002,119.519997,70.129997
1970-01-01 00:00:00.000000751,2019-12-27 00:00:00,72.449997,84.910004,93.489998,330.140015,35.349998,51.500000,294.109985,74.400002,120.300003,...,52.939999,110.599998,29.637463,295.970001,181.410004,61.529999,59.020000,53.919998,119.589996,69.889999
1970-01-01 00:00:00.000000752,2019-12-30 00:00:00,72.879997,83.639999,92.344498,326.399994,35.150002,50.770000,295.140015,73.699997,119.849998,...,52.646667,110.370003,29.486404,293.850006,180.149994,61.209999,58.910000,53.599998,119.400002,69.480003

In [21]:
df_s =  df #[ ['Ticker', 'Date', 'Adjusted Close'] ];
df_s

,Date,AAPL,ABC,AMZN,BA,BAC,CAH,COST,CVS,CVX,...,PCAR,PSX,T,UNH,UNP,VZ,WBA,WFC,WMT,XOM
1970-01-01 00:00:00.000000000,2017-01-03 00:00:00,29.037500,82.610001,37.683498,156.970001,22.530001,74.480003,159.729996,80.349998,117.849998,...,43.546665,86.790001,32.492447,161.449997,102.519997,54.580002,82.959999,56.000000,68.660004,90.889999
1970-01-01 00:00:00.000000001,2017-01-04 00:00:00,29.004999,84.660004,37.859001,158.619995,22.950001,75.629997,159.759995,79.750000,117.820000,...,44.146667,87.260002,32.303623,161.910004,103.139999,54.520000,82.980003,56.049999,69.059998,89.889999
1970-01-01 00:00:00.000000002,2017-01-05 00:00:00,29.152500,83.680000,39.022499,158.710007,22.680000,74.500000,162.910004,81.419998,117.309998,...,43.426666,86.739998,32.212990,162.179993,102.129997,54.639999,83.029999,55.180000,69.209999,88.550003
1970-01-01 00:00:00.000000003,2017-01-06 00:00:00,29.477501,84.800003,39.799500,159.100006,22.680000,75.330002,162.830002,82.199997,116.839996,...,43.919998,85.400002,31.208460,162.410004,103.190002,53.259998,83.099998,55.040001,68.260002,88.500000
1970-01-01 00:00:00.000000004,2017-01-09 00:00:00,29.747499,85.480003,39.846001,158.320007,22.549999,74.760002,160.970001,81.699997,115.839996,...,43.380001,84.019997,30.815710,161.949997,102.419998,52.680000,82.550003,54.240002,68.709999,87.040001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970-01-01 00:00:00.000000748,2019-12-23 00:00:00,71.000000,85.599998,89.650002,337.549988,35.169998,51.130001,293.309998,74.379997,120.330002,...,53.033333,112.669998,29.509064,295.089996,179.419998,61.400002,58.570000,53.810001,119.029999,70.290001
1970-01-01 00:00:00.000000749,2019-12-24 00:00:00,71.067497,85.419998,89.460503,333.000000,35.220001,51.290001,294.230011,74.510002,120.339996,...,52.993332,113.199997,29.425982,294.540009,179.889999,61.279999,58.349998,53.820000,119.510002,70.019997
1970-01-01 00:00:00.000000750,2019-12-26 00:00:00,72.477501,85.050003,93.438499,329.920013,35.520000,51.169998,295.730011,74.480003,120.599998,...,53.006668,112.059998,29.577040,295.649994,180.809998,61.290001,58.900002,54.150002,119.519997,70.129997
1970-01-01 00:00:00.000000751,2019-12-27 00:00:00,72.449997,84.910004,93.489998,330.140015,35.349998,51.500000,294.109985,74.400002,120.300003,...,52.939999,110.599998,29.637463,295.970001,181.410004,61.529999,59.020000,53.919998,119.589996,69.889999
1970-01-01 00:00:00.000000752,2019-12-30 00:00:00,72.879997,83.639999,92.344498,326.399994,35.150002,50.770000,295.140015,73.699997,119.849998,...,52.646667,110.370003,29.486404,293.850006,180.149994,61.209999,58.910000,53.599998,119.400002,69.480003

In [22]:
df_s["Date"] = df_s["Date"].astype('datetime64[ns]')
df_s = df_s.sort_values( by = 'Date', ascending = True )
df_s

,Date,AAPL,ABC,AMZN,BA,BAC,CAH,COST,CVS,CVX,...,PCAR,PSX,T,UNH,UNP,VZ,WBA,WFC,WMT,XOM
1970-01-01 00:00:00.000000000,2017-01-03,29.037500,82.610001,37.683498,156.970001,22.530001,74.480003,159.729996,80.349998,117.849998,...,43.546665,86.790001,32.492447,161.449997,102.519997,54.580002,82.959999,56.000000,68.660004,90.889999
1970-01-01 00:00:00.000000001,2017-01-04,29.004999,84.660004,37.859001,158.619995,22.950001,75.629997,159.759995,79.750000,117.820000,...,44.146667,87.260002,32.303623,161.910004,103.139999,54.520000,82.980003,56.049999,69.059998,89.889999
1970-01-01 00:00:00.000000002,2017-01-05,29.152500,83.680000,39.022499,158.710007,22.680000,74.500000,162.910004,81.419998,117.309998,...,43.426666,86.739998,32.212990,162.179993,102.129997,54.639999,83.029999,55.180000,69.209999,88.550003
1970-01-01 00:00:00.000000003,2017-01-06,29.477501,84.800003,39.799500,159.100006,22.680000,75.330002,162.830002,82.199997,116.839996,...,43.919998,85.400002,31.208460,162.410004,103.190002,53.259998,83.099998,55.040001,68.260002,88.500000
1970-01-01 00:00:00.000000004,2017-01-09,29.747499,85.480003,39.846001,158.320007,22.549999,74.760002,160.970001,81.699997,115.839996,...,43.380001,84.019997,30.815710,161.949997,102.419998,52.680000,82.550003,54.240002,68.709999,87.040001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970-01-01 00:00:00.000000748,2019-12-23,71.000000,85.599998,89.650002,337.549988,35.169998,51.130001,293.309998,74.379997,120.330002,...,53.033333,112.669998,29.509064,295.089996,179.419998,61.400002,58.570000,53.810001,119.029999,70.290001
1970-01-01 00:00:00.000000749,2019-12-24,71.067497,85.419998,89.460503,333.000000,35.220001,51.290001,294.230011,74.510002,120.339996,...,52.993332,113.199997,29.425982,294.540009,179.889999,61.279999,58.349998,53.820000,119.510002,70.019997
1970-01-01 00:00:00.000000750,2019-12-26,72.477501,85.050003,93.438499,329.920013,35.520000,51.169998,295.730011,74.480003,120.599998,...,53.006668,112.059998,29.577040,295.649994,180.809998,61.290001,58.900002,54.150002,119.519997,70.129997
1970-01-01 00:00:00.000000751,2019-12-27,72.449997,84.910004,93.489998,330.140015,35.349998,51.500000,294.109985,74.400002,120.300003,...,52.939999,110.599998,29.637463,295.970001,181.410004,61.529999,59.020000,53.919998,119.589996,69.889999
1970-01-01 00:00:00.000000752,2019-12-30,72.879997,83.639999,92.344498,326.399994,35.150002,50.770000,295.140015,73.699997,119.849998,...,52.646667,110.370003,29.486404,293.850006,180.149994,61.209999,58.910000,53.599998,119.400002,69.480003

df_s_pivot = df_s.pivot_table(index = 'Ticker', columns = 'Date', values = 'Adjusted Close')
df_s_pivot

In [23]:
allMatchingTickers

{'AAPL',
 'AMZN',
 'COST',
 'CVX',
 'GOOGL',
 'JPM',
 'MCK',
 'MSFT',
 'PSX',
 'UNH',
 'WMT'}



drop_rows_with_na = 0
if drop_rows_with_na == 1:
    df_s_transpose = df_s_transpose.dropna(axis=0);
    #df_s_transpose["Date"] = df_s_transpose["Date"].astype('datetime64[ns]')
    #df_s_transpose.sort_values(by='Date', ascending=False)
    df_s_transpose.to_csv('../../../..//archive/stock_market_data/nasdaq/-na-dropped-nasdq-stock-price--all-merged.csv');
   
df_s_transpose.head(100)

In [24]:
df_s_transpose = df_s #_pivot.T
df_s_transpose

df_s_transpose_feature = df_s_transpose.reset_index(drop = True, inplace=False)
# df_s_transpose_feature =  df_s_transpose_feature.values.tolist()
# print(df_s_transpose_feature.values.tolist())
#df_s_transpose_feature['AAPL'].values

In [25]:
df_s_transpose_feature

,Date,AAPL,ABC,AMZN,BA,BAC,CAH,COST,CVS,CVX,...,PCAR,PSX,T,UNH,UNP,VZ,WBA,WFC,WMT,XOM
0,2017-01-03,29.037500,82.610001,37.683498,156.970001,22.530001,74.480003,159.729996,80.349998,117.849998,...,43.546665,86.790001,32.492447,161.449997,102.519997,54.580002,82.959999,56.000000,68.660004,90.889999
1,2017-01-04,29.004999,84.660004,37.859001,158.619995,22.950001,75.629997,159.759995,79.750000,117.820000,...,44.146667,87.260002,32.303623,161.910004,103.139999,54.520000,82.980003,56.049999,69.059998,89.889999
2,2017-01-05,29.152500,83.680000,39.022499,158.710007,22.680000,74.500000,162.910004,81.419998,117.309998,...,43.426666,86.739998,32.212990,162.179993,102.129997,54.639999,83.029999,55.180000,69.209999,88.550003
3,2017-01-06,29.477501,84.800003,39.799500,159.100006,22.680000,75.330002,162.830002,82.199997,116.839996,...,43.919998,85.400002,31.208460,162.410004,103.190002,53.259998,83.099998,55.040001,68.260002,88.500000
4,2017-01-09,29.747499,85.480003,39.846001,158.320007,22.549999,74.760002,160.970001,81.699997,115.839996,...,43.380001,84.019997,30.815710,161.949997,102.419998,52.680000,82.550003,54.240002,68.709999,87.040001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,2019-12-23,71.000000,85.599998,89.650002,337.549988,35.169998,51.130001,293.309998,74.379997,120.330002,...,53.033333,112.669998,29.509064,295.089996,179.419998,61.400002,58.570000,53.810001,119.029999,70.290001
749,2019-12-24,71.067497,85.419998,89.460503,333.000000,35.220001,51.290001,294.230011,74.510002,120.339996,...,52.993332,113.199997,29.425982,294.540009,179.889999,61.279999,58.349998,53.820000,119.510002,70.019997
750,2019-12-26,72.477501,85.050003,93.438499,329.920013,35.520000,51.169998,295.730011,74.480003,120.599998,...,53.006668,112.059998,29.577040,295.649994,180.809998,61.290001,58.900002,54.150002,119.519997,70.129997
751,2019-12-27,72.449997,84.910004,93.489998,330.140015,35.349998,51.500000,294.109985,74.400002,120.300003,...,52.939999,110.599998,29.637463,295.970001,181.410004,61.529999,59.020000,53.919998,119.589996,69.889999
752,2019-12-30,72.879997,83.639999,92.344498,326.399994,35.150002,50.770000,295.140015,73.699997,119.849998,...,52.646667,110.370003,29.486404,293.850006,180.149994,61.209999,58.910000,53.599998,119.400002,69.480003

In [26]:
#df_s_transpose['SIMO']

In [27]:
# df_s_transpose_feature['AAPL'].values
len(allMatchingTickers), len(set(allMatchingTickers)) #, df_s['Ticker']
#df_s_tickers = df_s['Ticker'];
#len(df_s_tickers), len(set(allMatchingTickers)), df_s_transpose.columns.unique, len(set(df_s['Ticker']))
#df_s_tickers = list(set(df_s['Ticker'])); # list(df_s_transpose.columns.unique) #
#sorted(df_s_tickers)
#for x in df_s_tickers:
 #   print(x)

(11, 11)

In [28]:
df_s_tickers = df_s_transpose_feature.columns
df_s_tickers = list(set(df_s_tickers.drop('Date')))
df_s_tickers[:5]

['MCK', 'WFC', 'AAPL', 'GE', 'MSFT']

In [29]:
set_allMatchingTickers = set(allMatchingTickers)
df_s_tickers = fortune_30_tickers_to_process #list(set(df_s['Ticker'])); # list(df_s_transpose.columns.unique) #
node_Data_financial_news = [];

'''
for x in set_allMatchingTickers :
    # if x in df_s_tickers:
    print(x)
    node_Data_financial_news.append( df_s_transpose_feature[x].values)
'''  

node_Data_financial_news = pd.DataFrame(df_s_transpose_feature) #, index = list(allMatchingTickers)) #, index = list(set_allMatchingTickers))
#node_Data_financial_news = node_Data_financial_news.T 
node_Data_financial_news

,Date,AAPL,ABC,AMZN,BA,BAC,CAH,COST,CVS,CVX,...,PCAR,PSX,T,UNH,UNP,VZ,WBA,WFC,WMT,XOM
0,2017-01-03,29.037500,82.610001,37.683498,156.970001,22.530001,74.480003,159.729996,80.349998,117.849998,...,43.546665,86.790001,32.492447,161.449997,102.519997,54.580002,82.959999,56.000000,68.660004,90.889999
1,2017-01-04,29.004999,84.660004,37.859001,158.619995,22.950001,75.629997,159.759995,79.750000,117.820000,...,44.146667,87.260002,32.303623,161.910004,103.139999,54.520000,82.980003,56.049999,69.059998,89.889999
2,2017-01-05,29.152500,83.680000,39.022499,158.710007,22.680000,74.500000,162.910004,81.419998,117.309998,...,43.426666,86.739998,32.212990,162.179993,102.129997,54.639999,83.029999,55.180000,69.209999,88.550003
3,2017-01-06,29.477501,84.800003,39.799500,159.100006,22.680000,75.330002,162.830002,82.199997,116.839996,...,43.919998,85.400002,31.208460,162.410004,103.190002,53.259998,83.099998,55.040001,68.260002,88.500000
4,2017-01-09,29.747499,85.480003,39.846001,158.320007,22.549999,74.760002,160.970001,81.699997,115.839996,...,43.380001,84.019997,30.815710,161.949997,102.419998,52.680000,82.550003,54.240002,68.709999,87.040001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,2019-12-23,71.000000,85.599998,89.650002,337.549988,35.169998,51.130001,293.309998,74.379997,120.330002,...,53.033333,112.669998,29.509064,295.089996,179.419998,61.400002,58.570000,53.810001,119.029999,70.290001
749,2019-12-24,71.067497,85.419998,89.460503,333.000000,35.220001,51.290001,294.230011,74.510002,120.339996,...,52.993332,113.199997,29.425982,294.540009,179.889999,61.279999,58.349998,53.820000,119.510002,70.019997
750,2019-12-26,72.477501,85.050003,93.438499,329.920013,35.520000,51.169998,295.730011,74.480003,120.599998,...,53.006668,112.059998,29.577040,295.649994,180.809998,61.290001,58.900002,54.150002,119.519997,70.129997
751,2019-12-27,72.449997,84.910004,93.489998,330.140015,35.349998,51.500000,294.109985,74.400002,120.300003,...,52.939999,110.599998,29.637463,295.970001,181.410004,61.529999,59.020000,53.919998,119.589996,69.889999
752,2019-12-30,72.879997,83.639999,92.344498,326.399994,35.150002,50.770000,295.140015,73.699997,119.849998,...,52.646667,110.370003,29.486404,293.850006,180.149994,61.209999,58.910000,53.599998,119.400002,69.480003

In [30]:
node_Data_financial_news

,Date,AAPL,ABC,AMZN,BA,BAC,CAH,COST,CVS,CVX,...,PCAR,PSX,T,UNH,UNP,VZ,WBA,WFC,WMT,XOM
0,2017-01-03,29.037500,82.610001,37.683498,156.970001,22.530001,74.480003,159.729996,80.349998,117.849998,...,43.546665,86.790001,32.492447,161.449997,102.519997,54.580002,82.959999,56.000000,68.660004,90.889999
1,2017-01-04,29.004999,84.660004,37.859001,158.619995,22.950001,75.629997,159.759995,79.750000,117.820000,...,44.146667,87.260002,32.303623,161.910004,103.139999,54.520000,82.980003,56.049999,69.059998,89.889999
2,2017-01-05,29.152500,83.680000,39.022499,158.710007,22.680000,74.500000,162.910004,81.419998,117.309998,...,43.426666,86.739998,32.212990,162.179993,102.129997,54.639999,83.029999,55.180000,69.209999,88.550003
3,2017-01-06,29.477501,84.800003,39.799500,159.100006,22.680000,75.330002,162.830002,82.199997,116.839996,...,43.919998,85.400002,31.208460,162.410004,103.190002,53.259998,83.099998,55.040001,68.260002,88.500000
4,2017-01-09,29.747499,85.480003,39.846001,158.320007,22.549999,74.760002,160.970001,81.699997,115.839996,...,43.380001,84.019997,30.815710,161.949997,102.419998,52.680000,82.550003,54.240002,68.709999,87.040001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,2019-12-23,71.000000,85.599998,89.650002,337.549988,35.169998,51.130001,293.309998,74.379997,120.330002,...,53.033333,112.669998,29.509064,295.089996,179.419998,61.400002,58.570000,53.810001,119.029999,70.290001
749,2019-12-24,71.067497,85.419998,89.460503,333.000000,35.220001,51.290001,294.230011,74.510002,120.339996,...,52.993332,113.199997,29.425982,294.540009,179.889999,61.279999,58.349998,53.820000,119.510002,70.019997
750,2019-12-26,72.477501,85.050003,93.438499,329.920013,35.520000,51.169998,295.730011,74.480003,120.599998,...,53.006668,112.059998,29.577040,295.649994,180.809998,61.290001,58.900002,54.150002,119.519997,70.129997
751,2019-12-27,72.449997,84.910004,93.489998,330.140015,35.349998,51.500000,294.109985,74.400002,120.300003,...,52.939999,110.599998,29.637463,295.970001,181.410004,61.529999,59.020000,53.919998,119.589996,69.889999
752,2019-12-30,72.879997,83.639999,92.344498,326.399994,35.150002,50.770000,295.140015,73.699997,119.849998,...,52.646667,110.370003,29.486404,293.850006,180.149994,61.209999,58.910000,53.599998,119.400002,69.480003

In [31]:
node_Data_financial_news#.drop(axis = 0)
node_Data_financial_news = node_Data_financial_news.T
node_Data_financial_news

,0,1,2,3,4,5,6,7,8,9,...,743,744,745,746,747,748,749,750,751,752
Date,2017-01-03 00:00:00,2017-01-04 00:00:00,2017-01-05 00:00:00,2017-01-06 00:00:00,2017-01-09 00:00:00,2017-01-10 00:00:00,2017-01-11 00:00:00,2017-01-12 00:00:00,2017-01-13 00:00:00,2017-01-17 00:00:00,...,2019-12-16 00:00:00,2019-12-17 00:00:00,2019-12-18 00:00:00,2019-12-19 00:00:00,2019-12-20 00:00:00,2019-12-23 00:00:00,2019-12-24 00:00:00,2019-12-26 00:00:00,2019-12-27 00:00:00,2019-12-30 00:00:00
AAPL,29.0375,29.004999,29.1525,29.477501,29.747499,29.7775,29.9375,29.8125,29.76,30.0,...,69.964996,70.102501,69.934998,70.004997,69.860001,71.0,71.067497,72.477501,72.449997,72.879997
ABC,82.610001,84.660004,83.68,84.800003,85.480003,84.830002,81.529999,83.860001,84.620003,85.989998,...,85.959999,83.150002,83.550003,83.800003,85.669998,85.599998,85.419998,85.050003,84.910004,83.639999
AMZN,37.683498,37.859001,39.022499,39.7995,39.846001,39.794998,39.951,40.681999,40.856998,40.486,...,88.460503,89.532997,89.2015,89.613998,89.324997,89.650002,89.460503,93.438499,93.489998,92.344498
BA,156.970001,158.619995,158.710007,159.100006,158.320007,159.070007,159.399994,158.289993,158.830002,157.669998,...,327.0,327.0,330.679993,333.5,328.0,337.549988,333.0,329.920013,330.140015,326.399994
BAC,22.530001,22.950001,22.68,22.68,22.549999,22.940001,23.07,22.92,23.01,22.049999,...,34.700001,35.040001,35.110001,34.950001,34.959999,35.169998,35.220001,35.52,35.349998,35.150002
CAH,74.480003,75.629997,74.5,75.330002,74.760002,75.220001,73.720001,74.190002,75.0,75.18,...,53.700001,51.57,51.099998,50.610001,51.799999,51.130001,51.290001,51.169998,51.5,50.77
COST,159.729996,159.759995,162.910004,162.830002,160.970001,161.660004,161.539993,161.869995,161.860001,163.809998,...,293.5,295.549988,291.869995,293.709991,294.829987,293.309998,294.230011,295.730011,294.109985,295.140015
CVS,80.349998,79.75,81.419998,82.199997,81.699997,82.669998,82.769997,82.599998,81.980003,83.919998,...,74.400002,73.349998,73.279999,74.099998,74.580002,74.379997,74.510002,74.480003,74.400002,73.699997
CVX,117.849998,117.82,117.309998,116.839996,115.839996,114.959999,115.93,116.160004,116.379997,116.279999,...,119.360001,118.599998,118.550003,118.129997,119.68,120.330002,120.339996,120.599998,120.300003,119.849998
F,12.59,13.17,12.77,12.76,12.63,12.85,12.67,12.59,12.63,12.61,...,9.39,9.39,9.54,9.41,9.48,9.44,9.47,9.45,9.36,9.25
GE,190.296036,190.356094,189.275208,189.815643,188.914917,188.374466,188.97496,188.494568,188.314423,187.773972,...,69.758003,69.320847,68.446526,68.946136,68.883682,69.695549,69.882904,70.132706,69.82045,69.195938
GM,35.150002,37.09,36.389999,35.990002,36.009998,37.349998,37.950001,37.509998,37.34,37.310001,...,36.110001,36.310001,37.310001,37.259998,37.25,36.77,36.580002,36.48,36.560001,36.439999
GOOGL,40.400501,40.3885,40.651001,41.260502,41.359001,41.300499,41.493,41.476501,41.547001,41.373001,...,68.035004,67.744499,67.595497,67.821999,67.560997,67.531502,67.221497,68.123497,67.732002,66.985497
HD,134.309998,135.5,133.899994,133.529999,134.309998,136.100006,135.699997,135.070007,135.039993,135.929993,...,215.529999,217.720001,218.0,220.220001,221.190002,219.210007,220.669998,220.820007,219.970001,217.309998
JPM,87.230003,86.910004,86.110001,86.120003,86.18,86.43,87.080002,86.239998,86.699997,83.550003,...,137.339996,138.179993,138.039993,137.350006,137.240005,137.199997,137.580002,139.039993,139.139999,138.630005
KR,33.720001,33.240002,33.209999,33.110001,32.919998,33.189999,33.07,33.52,34.099998,34.84,...,28.309999,28.700001,28.33,28.76,29.0,28.889999,29.1,28.889999,28.76,29.059999
MCK,147.429993,148.580002,146.5,146.919998,146.839996,146.820007,143.199997,144.679993,147.179993,148.429993,...,142.199997,137.899994,136.990005,135.610001,137.639999,137.600006,138.809998,139.309998,139.440002,137.169998
MSFT,62.580002,62.299999,62.299999,62.84,62.639999,62.619999,63.189999,62.610001,62.700001,62.529999,...,155.529999,154.690002,154.369995,155.710007,157.410004,157.410004,157.380005,158.669998,158.960007,157.589996
PCAR,43.546665,44.146667,43.426666,43.919998,43.380001,44.166668,44.533333,44.220001,45.013332,44.613335,...,55.213333,54.766666,55.080002,53.126667,53.446667,53.033333,52.993332,53.006668,52.939999,52.646667
PSX,86.790001,87.260002,86.739998,85.400002,84.019997,83.760002,84.889999,84.339996,83.290001,83.559998,...,114.139999,113.029999,113.040001,112.809998,113.349998,112.669998,113.199997,112.059998,110.599998,110.370003
T,32.492447,32.303623,32.21299,31.20846,30.81571,30.823263,30.672205,30.974319,30.936556,31.049849,...,29.146526,29.07855,29.259819,29.403322,29.569487,29.509064,29.425982,29.57704,29.637463,29.486404
UNH,161.449997,161.910004,162.179993,162.410004,161.949997,161.580002,161.889999,162.360001,161.800003,160.660004,...,292.029999,290.470001,292.899994,294.619995,292.589996,295.089996,294.540009,295.649994,295.970001,293.850006
UNP,102.519997,103.139999,102.129997,103.190002,102.419998,103.419998,104.269997,104.699997,105.25,103.370003,...,180.089996,177.389999,178.220001,177.470001,180.399994,179.419998,179.889999,180.809998,181.410004,180.149994
VZ,54.580002,54.52,54.639999,53.259998,52.68,52.759998,52.459999,52.68,52.549999,52.740002,...,61.23,61.490002,60.860001,60.799999,62.07,61.400002,61.279999,61.290001,61.529999,61.209999
WBA,82.959999,82.980003,83.029999,83.099998,82.550003,82.669998,84.43,83.919998,83.82,84.220001,...,57.799999,57.09,57.200001,57.75,58.389999,58.57,58.349998,58.900002,59.02,58.91
WFC,56.0,56.049999,55.18,55.040001,54.240002,54.619999,54.799999,54.5,55.310001,53.779999,...,54.220001,54.34,53.669998,53.630001,53.330002,53.810001,53.82,54.150002,53.919998,53.599998
WMT,68.660004,69.059998,69.209999,68.260002,68.709999,68.230003,68.529999,67.970001,67.129997,68.419998,...,120.540001,121.279999,119.860001,120.080002,120.290001,119.029999,119.510002,119.519997,119.589996,119.400002
XOM,90.889999,89.889999,88.550003,88.5,87.040001,85.93,86.809998,86.339996,86.349998,87.360001,...,70.0,69.68,69.870003,69.389999,69.940002,70.290001,70.019997,70.129997,69.889999,69.480003

In [32]:
node_Data_financial_news = node_Data_financial_news.drop('Date')
node_Data_financial_news

,0,1,2,3,4,5,6,7,8,9,...,743,744,745,746,747,748,749,750,751,752
AAPL,29.0375,29.004999,29.1525,29.477501,29.747499,29.7775,29.9375,29.8125,29.76,30.0,...,69.964996,70.102501,69.934998,70.004997,69.860001,71.0,71.067497,72.477501,72.449997,72.879997
ABC,82.610001,84.660004,83.68,84.800003,85.480003,84.830002,81.529999,83.860001,84.620003,85.989998,...,85.959999,83.150002,83.550003,83.800003,85.669998,85.599998,85.419998,85.050003,84.910004,83.639999
AMZN,37.683498,37.859001,39.022499,39.7995,39.846001,39.794998,39.951,40.681999,40.856998,40.486,...,88.460503,89.532997,89.2015,89.613998,89.324997,89.650002,89.460503,93.438499,93.489998,92.344498
BA,156.970001,158.619995,158.710007,159.100006,158.320007,159.070007,159.399994,158.289993,158.830002,157.669998,...,327.0,327.0,330.679993,333.5,328.0,337.549988,333.0,329.920013,330.140015,326.399994
BAC,22.530001,22.950001,22.68,22.68,22.549999,22.940001,23.07,22.92,23.01,22.049999,...,34.700001,35.040001,35.110001,34.950001,34.959999,35.169998,35.220001,35.52,35.349998,35.150002
CAH,74.480003,75.629997,74.5,75.330002,74.760002,75.220001,73.720001,74.190002,75.0,75.18,...,53.700001,51.57,51.099998,50.610001,51.799999,51.130001,51.290001,51.169998,51.5,50.77
COST,159.729996,159.759995,162.910004,162.830002,160.970001,161.660004,161.539993,161.869995,161.860001,163.809998,...,293.5,295.549988,291.869995,293.709991,294.829987,293.309998,294.230011,295.730011,294.109985,295.140015
CVS,80.349998,79.75,81.419998,82.199997,81.699997,82.669998,82.769997,82.599998,81.980003,83.919998,...,74.400002,73.349998,73.279999,74.099998,74.580002,74.379997,74.510002,74.480003,74.400002,73.699997
CVX,117.849998,117.82,117.309998,116.839996,115.839996,114.959999,115.93,116.160004,116.379997,116.279999,...,119.360001,118.599998,118.550003,118.129997,119.68,120.330002,120.339996,120.599998,120.300003,119.849998
F,12.59,13.17,12.77,12.76,12.63,12.85,12.67,12.59,12.63,12.61,...,9.39,9.39,9.54,9.41,9.48,9.44,9.47,9.45,9.36,9.25
GE,190.296036,190.356094,189.275208,189.815643,188.914917,188.374466,188.97496,188.494568,188.314423,187.773972,...,69.758003,69.320847,68.446526,68.946136,68.883682,69.695549,69.882904,70.132706,69.82045,69.195938
GM,35.150002,37.09,36.389999,35.990002,36.009998,37.349998,37.950001,37.509998,37.34,37.310001,...,36.110001,36.310001,37.310001,37.259998,37.25,36.77,36.580002,36.48,36.560001,36.439999
GOOGL,40.400501,40.3885,40.651001,41.260502,41.359001,41.300499,41.493,41.476501,41.547001,41.373001,...,68.035004,67.744499,67.595497,67.821999,67.560997,67.531502,67.221497,68.123497,67.732002,66.985497
HD,134.309998,135.5,133.899994,133.529999,134.309998,136.100006,135.699997,135.070007,135.039993,135.929993,...,215.529999,217.720001,218.0,220.220001,221.190002,219.210007,220.669998,220.820007,219.970001,217.309998
JPM,87.230003,86.910004,86.110001,86.120003,86.18,86.43,87.080002,86.239998,86.699997,83.550003,...,137.339996,138.179993,138.039993,137.350006,137.240005,137.199997,137.580002,139.039993,139.139999,138.630005
KR,33.720001,33.240002,33.209999,33.110001,32.919998,33.189999,33.07,33.52,34.099998,34.84,...,28.309999,28.700001,28.33,28.76,29.0,28.889999,29.1,28.889999,28.76,29.059999
MCK,147.429993,148.580002,146.5,146.919998,146.839996,146.820007,143.199997,144.679993,147.179993,148.429993,...,142.199997,137.899994,136.990005,135.610001,137.639999,137.600006,138.809998,139.309998,139.440002,137.169998
MSFT,62.580002,62.299999,62.299999,62.84,62.639999,62.619999,63.189999,62.610001,62.700001,62.529999,...,155.529999,154.690002,154.369995,155.710007,157.410004,157.410004,157.380005,158.669998,158.960007,157.589996
PCAR,43.546665,44.146667,43.426666,43.919998,43.380001,44.166668,44.533333,44.220001,45.013332,44.613335,...,55.213333,54.766666,55.080002,53.126667,53.446667,53.033333,52.993332,53.006668,52.939999,52.646667
PSX,86.790001,87.260002,86.739998,85.400002,84.019997,83.760002,84.889999,84.339996,83.290001,83.559998,...,114.139999,113.029999,113.040001,112.809998,113.349998,112.669998,113.199997,112.059998,110.599998,110.370003
T,32.492447,32.303623,32.21299,31.20846,30.81571,30.823263,30.672205,30.974319,30.936556,31.049849,...,29.146526,29.07855,29.259819,29.403322,29.569487,29.509064,29.425982,29.57704,29.637463,29.486404
UNH,161.449997,161.910004,162.179993,162.410004,161.949997,161.580002,161.889999,162.360001,161.800003,160.660004,...,292.029999,290.470001,292.899994,294.619995,292.589996,295.089996,294.540009,295.649994,295.970001,293.850006
UNP,102.519997,103.139999,102.129997,103.190002,102.419998,103.419998,104.269997,104.699997,105.25,103.370003,...,180.089996,177.389999,178.220001,177.470001,180.399994,179.419998,179.889999,180.809998,181.410004,180.149994
VZ,54.580002,54.52,54.639999,53.259998,52.68,52.759998,52.459999,52.68,52.549999,52.740002,...,61.23,61.490002,60.860001,60.799999,62.07,61.400002,61.279999,61.290001,61.529999,61.209999
WBA,82.959999,82.980003,83.029999,83.099998,82.550003,82.669998,84.43,83.919998,83.82,84.220001,...,57.799999,57.09,57.200001,57.75,58.389999,58.57,58.349998,58.900002,59.02,58.91
WFC,56.0,56.049999,55.18,55.040001,54.240002,54.619999,54.799999,54.5,55.310001,53.779999,...,54.220001,54.34,53.669998,53.630001,53.330002,53.810001,53.82,54.150002,53.919998,53.599998
WMT,68.660004,69.059998,69.209999,68.260002,68.709999,68.230003,68.529999,67.970001,67.129997,68.419998,...,120.540001,121.279999,119.860001,120.080002,120.290001,119.029999,119.510002,119.519997,119.589996,119.400002
XOM,90.889999,89.889999,88.550003,88.5,87.040001,85.93,86.809998,86.339996,86.349998,87.360001,...,70.0,69.68,69.870003,69.389999,69.940002,70.290001,70.019997,70.129997,69.889999,69.480003

In [49]:
financial_news_edge_data = pd.DataFrame(
    {"source": source, "target": target, "edge_feature": edge_weights}
)

financial_news_graph = StellarGraph(node_Data_financial_news, edges = financial_news_edge_data, node_type_default="corner", edge_type_default="line")
print(financial_news_graph.info())

StellarGraph: Undirected multigraph
 Nodes: 28, Edges: 21

 Node types:
  corner: [28]
    Features: float32 vector, length 753
    Edge types: corner-line->corner

 Edge types:
    corner-line->corner: [21]
        Weights: all 1 (default)
        Features: float32 vector, length 1

In [34]:
# debug code
# financial_news_graph_data,  sorted(node_Data_financial_news.columns.unique())
# [1,2] + [2, 3,4], set(source + target).difference(sorted(node_Data_financial_news.columns.unique()))

In [35]:
# Generator
generator = FullBatchNodeGenerator(financial_news_graph, method = "gcn")

Using GCN (local pooling) filters...

# Machine Learning, Deep Learning, GCN, CNN

# Train Test Split

In [36]:
train_subjects, test_subjects = model_selection.train_test_split(
    node_Data_financial_news #, train_size = 6, test_size = 4
)
# , train_size=6, test_size=None, stratify=pearson_graph_node_data

val_subjects, test_subjects_step_2 = model_selection.train_test_split(
    test_subjects #, test_size = 2
)

#, train_size = 500, test_size = None, stratify = test_subjects


train_subjects.shape, test_subjects.shape, val_subjects.shape, test_subjects_step_2.shape

((21, 753), (7, 753), (5, 753), (2, 753))

In [37]:
# just the target variables

train_targets = train_subjects; 
val_targets = val_subjects; 
test_targets = test_subjects;

In [38]:
# Architecture of the Neural Network
train_subjects.index, train_targets

(Index(['WBA', 'UNH', 'BAC', 'HD', 'PSX', 'VZ', 'AMZN', 'BA', 'GE', 'GM', 'T',
        'GOOGL', 'XOM', 'CVS', 'CAH', 'MSFT', 'PCAR', 'MCK', 'COST', 'CVX',
        'ABC'],
       dtype='object'),
               0           1           2           3           4           5    \
 WBA     82.959999   82.980003   83.029999   83.099998   82.550003   82.669998
 UNH    161.449997  161.910004  162.179993  162.410004  161.949997  161.580002
 BAC     22.530001   22.950001       22.68       22.68   22.549999   22.940001
 HD     134.309998       135.5  133.899994  133.529999  134.309998  136.100006
 PSX     86.790001   87.260002   86.739998   85.400002   84.019997   83.760002
 VZ      54.580002       54.52   54.639999   53.259998       52.68   52.759998
 AMZN    37.683498   37.859001   39.022499     39.7995   39.846001   39.794998
 BA     156.970001  158.619995  158.710007  159.100006  158.320007  159.070007
 GE     190.296036  190.356094  189.275208  189.815643  188.914917  188.374466
 GM      35.150002       37.09   36.389999   35.990002   36.009998   37.349998
 T       32.492447   32.303623    32.21299    31.20846    30.81571   30.823263
 GOOGL   40.400501     40.3885   40.651001   41.260502   41.359001   41.300499
 XOM     90.889999   89.889999   88.550003        88.5   87.040001       85.93
 CVS     80.349998       79.75   81.419998   82.199997   81.699997   82.669998
 CAH     74.480003   75.629997        74.5   75.330002   74.760002   75.220001
 MSFT    62.580002   62.299999   62.299999       62.84   62.639999   62.619999
 PCAR    43.546665   44.146667   43.426666   43.919998   43.380001   44.166668
 MCK    147.429993  148.580002       146.5  146.919998  146.839996  146.820007
 COST   159.729996  159.759995  162.910004  162.830002  160.970001  161.660004
 CVX    117.849998      117.82  117.309998  116.839996  115.839996  114.959999
 ABC     82.610001   84.660004       83.68   84.800003   85.480003   84.830002

               6           7           8           9    ...         743  \
 WBA         84.43   83.919998       83.82   84.220001  ...   57.799999
 UNH    161.889999  162.360001  161.800003  160.660004  ...  292.029999
 BAC         23.07       22.92       23.01   22.049999  ...   34.700001
 HD     135.699997  135.070007  135.039993  135.929993  ...  215.529999
 PSX     84.889999   84.339996   83.290001   83.559998  ...  114.139999
 VZ      52.459999       52.68   52.549999   52.740002  ...       61.23
 AMZN       39.951   40.681999   40.856998      40.486  ...   88.460503
 BA     159.399994  158.289993  158.830002  157.669998  ...       327.0
 GE      188.97496  188.494568  188.314423  187.773972  ...   69.758003
 GM      37.950001   37.509998       37.34   37.310001  ...   36.110001
 T       30.672205   30.974319   30.936556   31.049849  ...   29.146526
 GOOGL      41.493   41.476501   41.547001   41.373001  ...   68.035004
 XOM     86.809998   86.339996   86.349998   87.360001  ...        70.0
 CVS     82.769997   82.599998   81.980003   83.919998  ...   74.400002
 CAH     73.720001   74.190002        75.0       75.18  ...   53.700001
 MSFT    63.189999   62.610001   62.700001   62.529999  ...  155.529999
 PCAR    44.533333   44.220001   45.013332   44.613335  ...   55.213333
 MCK    143.199997  144.679993  147.179993  148.429993  ...  142.199997
 COST   161.539993  161.869995  161.860001  163.809998  ...       293.5
 CVX        115.93  116.160004  116.379997  116.279999  ...  119.360001
 ABC     81.529999   83.860001   84.620003   85.989998  ...   85.959999

               744         745         746         747         748         749  \
 WBA         57.09   57.200001       57.75   58.389999       58.57   58.349998
 UNH    290.470001  292.899994  294.619995  292.589996  295.089996  294.540009
 BAC     35.040001   35.110001   34.950001   34.959999   35.169998   35.220001
 HD     217.720001       218.0  220.220001  221.190002  219.210007  220.669998
 PSX    113.029999  113.040001  112.809998  113.349998  112.669998  113.199997
 VZ      61.490002   60.860001   60.799999       62.07   61.400002   61.279999
 AMZN    89.532997     89.2015   89.613998   89.324997   89.650002   89.460503
 BA          327.0  330.679993       333.5       328.0  337.549988       333.0
 GE      69.320847   68.446526   68.946136   68.883682   69.695549   69.882904
 GM      36.310001   37.310001   37.259998       37.25       36.77   36.580002
 T        29.07855   29.259819   29.403322   29.569487   29.509064   29.425982
 GOOGL   67.744499   67.595497   67.821999   67.560997   67.531502   67.221497
 XOM         69.68   69.870003   69.389999   69.940002   70.290001   70.019997
 CVS     73.349998   73.279999   74.099998   74.580002   74.379997   74.510002
 CAH         51.57   51.099998   50.610001   51.799999   51.130001   51.290001
 MSFT   154.690002  154.369995  155.710007  157.410004  157.410004  157.380005
 PCAR    54.766666   55.080002   53.126667   53.446667   53.033333   52.993332
 MCK    137.899994  136.990005  135.610001  137.639999  137.600006  138.809998
 COST   295.549988  291.869995  293.709991  294.829987  293.309998  294.230011
 CVX    118.599998  118.550003  118.129997      119.68  120.330002  120.339996
 ABC     83.150002   83.550003   83.800003   85.669998   85.599998   85.419998

               750         751         752
 WBA     58.900002       59.02       58.91
 UNH    295.649994  295.970001  293.850006
 BAC         35.52   35.349998   35.150002
 HD     220.820007  219.970001  217.309998
 PSX    112.059998  110.599998  110.370003
 VZ      61.290001   61.529999   61.209999
 AMZN    93.438499   93.489998   92.344498
 BA     329.920013  330.140015  326.399994
 GE      70.132706    69.82045   69.195938
 GM          36.48   36.560001   36.439999
 T        29.57704   29.637463   29.486404
 GOOGL   68.123497   67.732002   66.985497
 XOM     70.129997   69.889999   69.480003
 CVS     74.480003   74.400002   73.699997
 CAH     51.169998        51.5       50.77
 MSFT   158.669998  158.960007  157.589996
 PCAR    53.006668   52.939999   52.646667
 MCK    139.309998  139.440002  137.169998
 COST   295.730011  294.109985  295.140015
 CVX    120.599998  120.300003  119.849998
 ABC     85.050003   84.910004   83.639999

 [21 rows x 753 columns])

In [39]:
train_gen = generator.flow(train_subjects.index, train_targets)

In [40]:
from tensorflow.keras.layers import Dense, Conv1D, MaxPool1D, Dropout, Flatten
from tensorflow import keras

layer_sizes = [32, 32]
activations = ["relu", "relu"]

gcn = GCN(layer_sizes = layer_sizes, activations = activations, generator = generator) #, dropout = 0.5
x_inp, x_out = gcn.in_out_tensors()

# MLP -- Regression
predictions = layers.Dense(units = train_targets.shape[1], activation = "linear")(x_out)
x_out, 
x_inp, x_out

([<KerasTensor: shape=(1, 28, 753) dtype=float32 (created by layer 'input_1')>,
  <KerasTensor: shape=(1, None) dtype=int32 (created by layer 'input_2')>,
  <KerasTensor: shape=(1, None, 2) dtype=int64 (created by layer 'input_3')>,
  <KerasTensor: shape=(1, None) dtype=float32 (created by layer 'input_4')>],
 <KerasTensor: shape=(1, None, 32) dtype=float32 (created by layer 'gather_indices')>)

# Models

In [41]:
# loss functions: https://keras.io/api/losses/

model = Model(
    inputs = x_inp, outputs = predictions)

'''
model.compile(
    optimizer=optimizers.Adam(learning_rate=0.1),
    loss=losses.MeanSquaredError(),
    metrics=["acc"],
)
'''

# REF: https://stackoverflow.com/questions/57301698/how-to-change-a-learning-rate-for-adam-in-tf2
# https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/schedules/PolynomialDecay
train_steps = 1000
lr_fn = optimizers.schedules.PolynomialDecay(1e-3, train_steps, 1e-5, 2)


# https://keras.io/api/metrics/
model.compile(
    loss = 'mean_absolute_error', 
    optimizer = optimizers.Adam( lr_fn ),
    # metrics = ['mean_squared_error']
    metrics=['mse', 'mae', 'mape']
)

# mape: https://towardsdatascience.com/choosing-the-correct-error-metric-mape-vs-smape-5328dec53fac
model.compile( 
    loss = 'mean_absolute_error', 
    optimizer = optimizers.Adam(learning_rate = 0.015), 
    #optimizer = optimizers.Adam(lr_fn), 
    # metrics=['mean_squared_error']
    metrics=['mean_squared_error', 'mae', 'mape']
    # metrics=[
    #    metrics.MeanSquaredError(),
    #    metrics.AUC(),
    #]
)

In [42]:
len(x_inp), predictions.shape, print(model.summary())

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_1 (InputLayer)           [(1, 28, 753)]       0           []

 input_3 (InputLayer)           [(1, None, 2)]       0           []

 input_4 (InputLayer)           [(1, None)]          0           []

 dropout (Dropout)              (1, 28, 753)         0           ['input_1[0][0]']

 squeezed_sparse_conversion (Sq  (28, 28)            0           ['input_3[0][0]',
 ueezedSparseConversion)                                          'input_4[0][0]']

 graph_convolution (GraphConvol  (1, None, 32)       24128       ['dropout[0][0]',
 ution)                                                           'squeezed_sparse_conversion[0][0
                                                                 ]']

 dropout_1 (Dropout)            (1, None, 32)        0           ['graph_convolution[0][0]']

 graph_convolution_1 (GraphConv  (1, None, 32)       1056        ['dropout_1[0][0]',
 olution)                                                         'squeezed_sparse_conversion[0][0
                                                                 ]']

 input_2 (InputLayer)           [(1, None)]          0           []

 gather_indices (GatherIndices)  (1, None, 32)       0           ['graph_convolution_1[0][0]',
                                                                  'input_2[0][0]']

 dense (Dense)                  (1, None, 753)       24849       ['gather_indices[0][0]']

==================================================================================================
Total params: 50,033
Trainable params: 50,033
Non-trainable params: 0
__________________________________________________________________________________________________
None

(4, TensorShape([1, None, 753]), None)

In [43]:
len(val_subjects)
test_subjects_ = test_subjects[:len(val_subjects)]

In [44]:
# hard coded size adjustments
test_subjects_ = test_subjects[:len(val_subjects)]

val_gen = generator.flow(val_subjects.index, test_subjects_)
#train_gen[1], val_gen[1]

In [45]:
epochs_to_test = 1000
patience_to_test = 1000
data_valid = val_gen #[:1][:4];
train_gen_data = train_gen #[:1][:4];

In [46]:
type(train_gen_data), type(data_valid), type(x_inp), type(x_out)

(stellargraph.mapper.sequences.SparseFullBatchSequence,
 stellargraph.mapper.sequences.SparseFullBatchSequence,
 list,
 keras.engine.keras_tensor.KerasTensor)

In [47]:
# https://keras.io/api/callbacks/early_stopping/
from tensorflow.keras.callbacks import EarlyStopping

es_callback = EarlyStopping(
    monitor = "val_mean_squared_error", 
    patience = patience_to_test, 
    restore_best_weights = True
)

history = model.fit( train_gen_data, epochs = epochs_to_test, validation_data = data_valid, verbose = 2,    
    # shuffling = true means shuffling the whole graph
    shuffle = False, callbacks = [es_callback],
)
sg.utils.plot_history(history)

# [1]

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).

In [ ]:
val_subjects, 
test_subjects

In [ ]:
test_gen = generator.flow(test_subjects.index, test_targets)
test_metrics = model.evaluate(test_gen)
print("\nTest Set Metrics:")
for name, val in zip(model.metrics_names, test_metrics):
    print("\t{}: {:0.4f}".format(name, val))

# Show the predicted prices by the Model

At this point, I still need to make sense of what GCN ( and CNN) combination + MLP is predicting. 
I am just displaying the output. 
It appears that price is predicted for each timestamp (day)

In [ ]:
all_nodes = node_Data_financial_news.index;
all_gen = generator.flow(all_nodes)
all_predictions = model.predict(all_gen)

all_predictions, all_predictions.shape, node_Data_financial_news.shape