In [1]:
import yfinance as yf

# Define the ticker for the stock you want to get data for
ticker = "AAPL"

# Download 3 months of historical data using the daily time frame
data = yf.download(ticker, period="3mo", interval="1d")

# Print the DataFrame to see the data
print(data)

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2023-01-03  130.279999  130.899994  124.169998  125.070000  124.879326
2023-01-04  126.889999  128.660004  125.080002  126.360001  126.167366
2023-01-05  127.129997  127.769997  124.760002  125.019997  124.829399
2023-01-06  126.010002  130.289993  124.889999  129.619995  129.422394
2023-01-09  130.470001  133.410004  129.889999  130.149994  129.951584
...                ...         ...         ...         ...         ...
2023-03-27  159.940002  160.770004  157.869995  158.279999  158.279999
2023-03-28  157.970001  158.490005  155.979996  157.649994  157.649994
2023-03-29  159.369995  161.050003  159.350006  160.770004  160.770004
2023-03-30  161.529999  162.470001  161.270004  162.360001  162.360001
2023-03-31  162.440002  165.000000  161.910004  164.899994  164.899994

               Volume
Date
2023-01-03  112117500
2023-01-04   89113600
2023-01-05   80962700
2023-01-06   87754700
2023-01-09   70790800
...               ...
2023-03-27   52390300
2023-03-28   45992200
2023-03-29   51305700
2023-03-30   49501700
2023-03-31   68694700

[62 rows x 6 columns]

In [2]:
# Define the ticker for the stock you want to get data for
ticker = "WMT"

# Download 3 months of historical data using the daily time frame
data = yf.download(ticker, period="3mo", interval="1d")

# Print the DataFrame to see the data
print(data)

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2023-01-03  142.550003  143.710007  142.089996  143.600006  143.013840
2023-01-04  143.419998  144.050003  142.070007  143.759995  143.173187
2023-01-05  143.460007  144.130005  142.649994  143.270004  142.685196
2023-01-06  144.600006  147.550003  144.240005  146.779999  146.180862
2023-01-09  146.320007  147.860001  144.800003  144.949997  144.358322
...                ...         ...         ...         ...         ...
2023-03-27  142.789993  144.979996  142.779999  144.169998  144.169998
2023-03-28  143.649994  144.410004  143.050003  143.610001  143.610001
2023-03-29  144.369995  144.960007  143.449997  144.229996  144.229996
2023-03-30  145.500000  146.600006  145.020004  145.669998  145.669998
2023-03-31  146.580002  148.440002  146.470001  147.449997  147.449997

             Volume
Date
2023-01-03  5749900
2023-01-04  4446100
2023-01-05  4424800
2023-01-06  7077300
2023-01-09  5918900
...             ...
2023-03-27  8925200
2023-03-28  7094300
2023-03-29  8072300
2023-03-30  7293000
2023-03-31  6954400

[62 rows x 6 columns]

In [3]:
# Download pricing data for multiple stocks/tickers
# approach 1: put the tickers in a list and browse through the list and keep downloading data one ticker at a time
# approach 2: put the tickers in a list, and check if a library method is there to download for multiple tickers at once

download_period = "3mo";
download_interval = "1d";
ticker_list = ['AAPL', 'WMT']
# Download 3 months of historical data using the daily time frame
data = yf.download(ticker_list, period = download_period, interval = download_interval )
data

[*********************100%***********************]  2 of 2 completed

             Adj Close                   Close                    High  \
                  AAPL         WMT        AAPL         WMT        AAPL
Date
2023-01-03  124.879326  143.013840  125.070000  143.600006  130.899994
2023-01-04  126.167366  143.173187  126.360001  143.759995  128.660004
2023-01-05  124.829399  142.685196  125.019997  143.270004  127.769997
2023-01-06  129.422394  146.180862  129.619995  146.779999  130.289993
2023-01-09  129.951584  144.358322  130.149994  144.949997  133.410004
...                ...         ...         ...         ...         ...
2023-03-27  158.279999  144.169998  158.279999  144.169998  160.770004
2023-03-28  157.649994  143.610001  157.649994  143.610001  158.490005
2023-03-29  160.770004  144.229996  160.770004  144.229996  161.050003
2023-03-30  162.360001  145.669998  162.360001  145.669998  162.470001
2023-03-31  164.899994  147.449997  164.899994  147.449997  165.000000

                               Low                    Open              \
                   WMT        AAPL         WMT        AAPL         WMT
Date
2023-01-03  143.710007  124.169998  142.089996  130.279999  142.550003
2023-01-04  144.050003  125.080002  142.070007  126.889999  143.419998
2023-01-05  144.130005  124.760002  142.649994  127.129997  143.460007
2023-01-06  147.550003  124.889999  144.240005  126.010002  144.600006
2023-01-09  147.860001  129.889999  144.800003  130.470001  146.320007
...                ...         ...         ...         ...         ...
2023-03-27  144.979996  157.869995  142.779999  159.940002  142.789993
2023-03-28  144.410004  155.979996  143.050003  157.970001  143.649994
2023-03-29  144.960007  159.350006  143.449997  159.369995  144.369995
2023-03-30  146.600006  161.270004  145.020004  161.529999  145.500000
2023-03-31  148.440002  161.910004  146.470001  162.440002  146.580002

               Volume
                 AAPL      WMT
Date
2023-01-03  112117500  5749900
2023-01-04   89113600  4446100
2023-01-05   80962700  4424800
2023-01-06   87754700  7077300
2023-01-09   70790800  5918900
...               ...      ...
2023-03-27   52390300  8925200
2023-03-28   45992200  7094300
2023-03-29   51305700  8072300
2023-03-30   49501700  7293000
2023-03-31   68694700  6954400

[62 rows x 12 columns]

In [4]:
data

             Adj Close                   Close                    High  \
                  AAPL         WMT        AAPL         WMT        AAPL
Date
2023-01-03  124.879326  143.013840  125.070000  143.600006  130.899994
2023-01-04  126.167366  143.173187  126.360001  143.759995  128.660004
2023-01-05  124.829399  142.685196  125.019997  143.270004  127.769997
2023-01-06  129.422394  146.180862  129.619995  146.779999  130.289993
2023-01-09  129.951584  144.358322  130.149994  144.949997  133.410004
...                ...         ...         ...         ...         ...
2023-03-27  158.279999  144.169998  158.279999  144.169998  160.770004
2023-03-28  157.649994  143.610001  157.649994  143.610001  158.490005
2023-03-29  160.770004  144.229996  160.770004  144.229996  161.050003
2023-03-30  162.360001  145.669998  162.360001  145.669998  162.470001
2023-03-31  164.899994  147.449997  164.899994  147.449997  165.000000

                               Low                    Open              \
                   WMT        AAPL         WMT        AAPL         WMT
Date
2023-01-03  143.710007  124.169998  142.089996  130.279999  142.550003
2023-01-04  144.050003  125.080002  142.070007  126.889999  143.419998
2023-01-05  144.130005  124.760002  142.649994  127.129997  143.460007
2023-01-06  147.550003  124.889999  144.240005  126.010002  144.600006
2023-01-09  147.860001  129.889999  144.800003  130.470001  146.320007
...                ...         ...         ...         ...         ...
2023-03-27  144.979996  157.869995  142.779999  159.940002  142.789993
2023-03-28  144.410004  155.979996  143.050003  157.970001  143.649994
2023-03-29  144.960007  159.350006  143.449997  159.369995  144.369995
2023-03-30  146.600006  161.270004  145.020004  161.529999  145.500000
2023-03-31  148.440002  161.910004  146.470001  162.440002  146.580002

               Volume
                 AAPL      WMT
Date
2023-01-03  112117500  5749900
2023-01-04   89113600  4446100
2023-01-05   80962700  4424800
2023-01-06   87754700  7077300
2023-01-09   70790800  5918900
...               ...      ...
2023-03-27   52390300  8925200
2023-03-28   45992200  7094300
2023-03-29   51305700  8072300
2023-03-30   49501700  7293000
2023-03-31   68694700  6954400

[62 rows x 12 columns]

In [5]:
WMT

NameError: name 'WMT' is not defined

In [ ]:
tickers = [
'WMT',
'XOM',
'AAPL',
'UNH',
'MCK',
'CVS',
'AMZN',
'T',
'GM',
'F',
'ABC',
'CVX',
'CAH',
'COST',
'VZ',
'KR',
'GE',
'WBA',
'JPM',
'GOOGL',
'HD',
'BAC',
'WFC',
'BA',
'PSX',
'ANTM',
'MSFT',
'UNP',
'PCAR',
'DWDP']

In [ ]:
tickers

In [ ]:
download_period = "3mo";
download_interval = "1d";
ticker_list = tickers;
# Download 3 months of historical data using the daily time frame
data = yf.download(ticker_list, period = download_period, interval = download_interval )
data

In [ ]:
data.to_csv('./data/yfiance-30-stocks-data-for-3-months.csv');

In [ ]:
closing_prices = data['Close']
closing_prices

In [ ]:
closing_prices.T

In [ ]:
# Collect stock closing prices daily

In [ ]:
start = "2017-01-01";
end = "2019-12-31";
download_interval = "1d";
ticker_list = tickers;
# Download 3 months of historical data using the daily time frame
data = yf.download(ticker_list, interval = download_interval, start = start, end = end )
closing_prices_daily = data['Close']
closing_prices_daily

In [ ]:
# Collect stock closing prices per minute

In [ ]:
download_interval = "1m";
download_period = "6m";
ticker_list = tickers;
data = yf.download(ticker_list, interval = download_interval, period = download_period)
closing_prices_minutely = data['Close']
closing_prices_minutely

In [ ]:
download_period = "3mo";
download_interval = "1d";
ticker_list = ['AAPL', 'WMT']
# Download 3 months of historical data using the daily time frame
data = yf.download(ticker_list, period = download_period, interval = download_interval )
close = data['Close']
data

import talib

# Calculate the RSI for the stock using talib
rsi = talib.RSI(close)

# Print the most recent RSI value to the console
print("RSI: ", rsi[-1])

In [ ]:
# Calculate the 50-day SMA for the stock using pandas
sma = data["Close"].rolling(50).mean()

# Print the 50-day SMA values to the console
print("50-day SMA: ", sma)

In [ ]:
# Calculate the 100-day EMA for the stock using pandas
ema = data["Close"].ewm(span=100, adjust=False).mean()

# Print the 100-day EMA values to the console
print("100-day EMA: ", ema)

# References:
    
1. https://vegibit.com/python-yfinance-tutorial/    
2. https://algotrading101.com/learn/yfinance-guide/